[2014-09-10 19:36] JDRitchey opened #3 "Problem with button events in floating panels (differs by browser)"
buttons added to a panel which is in "wcDocker.DOCK_FLOAT" mode
exhibit different behaviors by browser:
1) chrome - buttons will not fire any click event at all.
2) Internet Explorer - buttons fire their click event only on a rapid double-click.
3) Firefox - button events work fine.

other types of elements events appear unaffected, but should probably be reviewed.
(also, the other browsers should

[2014-09-12 12:08] #3 closed, assigned to nobody

[2014-09-17 16:14] Lochemage opened #4 "Tabs disappear if they don't fit within the panels title bar."

[2014-09-24 21:30] PxlBuzzard opened #5 "Context menu icons are missing"
The context menu icons are missing in the demo hosted at http://docker.webcabin.org/.

Tested in: Chrome 37 & Firefox 32 (currently the latest stable releases)

![capture](https://cloud.githubusercontent.com/assets/512416/4396118/ee16a6d0-4431-11e4-8717-76fc5eef0e53.png)

[2014-09-25 06:43] #4 closed, assigned to Lochemage

[2014-09-26 16:07] Lochemage opened #6 "Moving a panel into an existing floating panel as a new tab should not resize the window."
Currently the window is sized based on the panels inside, but this should only happen on the very first tab to set the initial size.  From there, the only time it should resize is if a new panel has some size restriction on it.

[2014-09-27 07:58] Lochemage opened #7 "Implement the ability to assign a floating panel as modal."
Modal panels block all input to panels beneath until they are closed (either by close button, or a yes/no response).

[2014-09-27 08:23] Lochemage opened #8 "Sometimes resizing a splitter panel causes other splitters to resize as well."
This happens when you have nested splitter windows, and you resize the outer one.  The splitter window inside will shrink in overall size, causing the location of its split bar to move.

To fix this, I would need to re-adjust the split position of affected splitters so they appear not to be moving.

This will not be an easy fix, but fortunately it does not prevent wcDocker from being used, so it i

[2014-09-27 20:54] #5 closed, assigned to nobody

[2014-09-28 07:05] Lochemage opened #9 "Simplify wcSplitter so users can create their own inside their panels."
You can currently use a wcSplitter inside a panel, but the setup for it is very inconvenient.

[2014-09-28 07:06] Lochemage opened #10 "Separate the panel tabbing system so users can easily create their own tabbed widgets inside their panels for their own use."
Things will have to change a bit so that the user created tabs can not be dragged to other panels and docked.

[2014-09-29 04:28] #9 closed, assigned to Lochemage

[2014-10-01 02:54] #6 closed, assigned to Lochemage

[2014-10-02 16:32] Lochemage opened #12 "Create a dedicated panel that contains an iFrame."
Special management is needed to handle iFrames, since they very much dislike DOM hierarchy changes and tend to reset their contents every time they are moved.  This version of the panel will store an iFrame in a global location in the DOM tree, but in such a way that it is always positioned and sized to match the bounds of the frame.

[2014-10-03 18:39] Lochemage opened #13 "Font Awesome icons do not work when creating a basic menu without including the original menu."
The third parameter of wcDocker.basicMenu() allows you to optionally include the original panel options along with your custom ones.  When you do not include the original menu, Font Awesome icons do not work.

[2014-10-06 22:28] #13 closed, assigned to Lochemage

[2014-10-09 16:23] Lochemage opened #14 "Allow scroll wheel, or side scroll if your mouse has it, to also scroll the tabs on the tab bar."

[2014-10-10 01:08] Lochemage opened #15 "Adding a new button to a panel does not immediately show the button on the panel."
Same with removal.

[2014-10-10 01:31] #15 closed, assigned to Lochemage

[2014-10-10 08:48] #10 closed, assigned to Lochemage

[2014-10-12 09:21] #7 closed, assigned to Lochemage

[2014-10-16 19:47] Lochemage opened #16 "Add compatibility with mobile tablet devices."
Need to handle touch events, rather than mouse.

[2014-10-18 18:50] Lochemage opened #17 "Add a sidebar 'panel picker'."
A side menu that contains a list of all available panels a user can create, that user can then drag-drop a panel from that list directly into their layout.

[2014-10-21 09:19] #12 closed, assigned to Lochemage

[2014-11-20 22:46] insominx opened #18 "Resizing icon shows on fixed panels"
If you can't move it, the cursor shouldn't imply it.

[2014-11-26 18:56] Lochemage opened #19 "Use JSDoc to generate source documentation."

[2014-12-01 02:31] Lochemage opened #20 "Add a new method of setting up the initial panel layout all at once instead of addPanel for each one."

[2014-12-08 03:57] insominx opened #21 "Right click menu pops up on mouse down on mac chrome/safari"
should wait for mouse up

[2014-12-13 18:37] Lochemage opened #22 "Allow panels to be docked onto the sides as slide out panels."

[2014-12-13 18:37] Lochemage opened #23 "Add a close button to every panel tab that appears on hover."

[2014-12-13 18:38] Lochemage opened #24 "Add a panel button separator bar that can be added between buttons."

[2015-02-12 00:23] genachka opened #25 "Collapse / Expand panel API"
Thanks for this very nice jQuery based docking layout! Looks very nice and pretty powerful.

I'd like to add a Collapse / Expand panel button and I don't see an API to allow sizing the panel at runtime (using a basic sample below of what I'm doing).

Also, it would seem that the addButton method requires two more options if isTogglable is true to allow the toggable text to be potentially reverse i

[2015-02-12 02:57] Lochemage commented on #25
Genachka,

Good to hear wcDocker is getting some more use!

The problem is that changing the size of a panel will also change the size
of many other panels that are docked near it as well, so it gets a little
complicated.  However, adding the ability to size the window any time is
one of the things on my TODO list.  I have just not have any priority to
fix that so it's been on the back-burner.

I

[2015-02-12 15:45] genachka commented on #25
I think wcDocker is a hidden gem and I hope it gets more attention. I've searched for something like it for a long time. There are a few others out there but sadly they appear to be either abandoned or not as far along or commercial. I'm going after a Visual Studio IDE and DockManager (http://www.dockspawn.com/demos/ide/dock_spawn_demo_ide.html) looks exactly like what I want but it's written in D

[2015-02-13 20:26] Lochemage commented on #25
That is true, sizing is somewhat already implemented, there are just a few
complications when it comes to sizing a panel rather than sizing a splitter
panel.  This is why it is on my TODO list rather than something I don't
plan to do at all.  It shouldn't be too hard to implement, I just need to
find the time to dig into it is all.

As for tabs on the bottom and sides, I can absolutely see that fe

[2015-02-27 15:33] dpage opened #26 "Localisation of panel names"
My app uses the Python Flask framework on the backend, with Flask-Babel to provide localisation for the Python code and HTML/JS. I cannot seem to figure out a reliable way of localising panel titles however, largely due to the fact that they're stored in the panel layout and thus get restored along with the layout when a user re-runs the app. That's fine if they're using the same language as befor

[2015-02-27 17:30] Lochemage commented on #26
Dave,

First off, I appreciate that you chose to give wcDocker a try!

The panel titles and ID's are actually separate.  It's just that when I
initialize a panel by default, I take the ID you gave it and graft it to
the title as well.  Inside the create function of a panel, though, you can
change the title with myPanel.title("some new title"), which will not
effect the ID.

So, ideally, you would

[2015-03-03 11:08] dpage commented on #26
That seems to work nicely - many thanks!

[2015-03-03 11:08] #26 closed

[2015-03-03 11:36] dpage opened #27 "Default theme should be separated from wcDocker.css"
Hi

Currently the default theme is in wcDocker.css. Whilst this is convenient if the user only wants to use that theme, it makes it harder to create custom themes as they may need to reset or worse clear some of the default styles. For example, in my theme I wish to use the platform/browser standard scrollbars and not the custom ones set in wcDocker.css.

Can this change be made please?

Thanks.

[2015-03-03 14:26] dpage opened #28 "iFrame panels not working in Firefox"
I have a number of iFrame panels in my app, which work fine in Chrome and Safari but remain blank in Firefox. They are being built like so:

[code]

The result looks as follows:
![screen shot 2015-03-03 at 14 19 33](https://cloud.githubusercontent.com/assets/316438/6464277/1b88768c-c1b1-11e4-8c35-7e9f5fd4600d.png)
![screen shot 2015-03-03 at 14 19 37](https://cloud.githubusercontent.com/assets/316

[2015-03-03 17:17] Lochemage commented on #27
Dave,

I've considered doing this, but I wasn't sure.  If I did take the theme
out, it would force other users to have to include two css files instead of
one.

However, if you take a look at the source code, style.css file, I have
already broken the code up into two sections.  Around line 360 you should
see a large empty area separating the two parts.  Everything above the line
is considered nece

[2015-03-03 17:19] Lochemage commented on #28
Dave,

I will have to get back to you on this, once I have some free time to look
deeper.

Thanks,

- Lochemage

On Tue, Mar 3, 2015 at 6:26 AM, Dave Page <notifications@github.com> wrote:

[2015-03-04 20:45] alinoson opened #29 "Unable to dock a panel if it is in floating state"
Hi,
I really appreciated the library, it is so cool and powerfull. I have never seen such well done docking manager in Html5/jquery. I m exploring to use it and from the demo app i found out that if a pane went in floating state i cannot dock it anymore.
Is that a bug or is there any way to dock a panel from a floating state?

Thanks for your precious help.

Best regards.

[2015-03-04 20:52] Lochemage commented on #29
It might be a bit weird, but what you have to do is grab the panel by its
tab widget; If you grab it on its title bar it will only move the window
around rather than try to re-dock it.

- Lochemage

On Wed, Mar 4, 2015 at 12:45 PM, alinoson <notifications@github.com> wrote:

[2015-03-05 11:12] dpage commented on #27
Thanks Lochemage. If you could add a minimised version of wcDockerSkeleton.css, that would be very helpful as well.

Thank you for the prompt support with my issues!

[2015-03-05 16:56] Lochemage commented on #27
My mistake, I forgot to add that to the build process.  It should be there
now!

- Lochemage

On Thu, Mar 5, 2015 at 3:12 AM, Dave Page <notifications@github.com> wrote:

[2015-03-05 16:58] Lochemage commented on #28
Dave,

I'm having trouble reproducing this issue.  It seems like it may have to do
with the content you are trying to put into your frame.  Do you have any
more information I can use?

Thanks,

- Lochemage

On Tue, Mar 3, 2015 at 9:19 AM, Loche mage <lochemage@gmail.com> wrote:

[2015-03-05 17:13] dpage commented on #28
Hi,

The content being used in the screenshots is the Sphinx generated documentation that is served from my app. If you're brave you can find the complete code in the web/ directory at http://git.postgresql.org/gitweb/?p=pgadmin4.git;a=summary, but beware it is a very early incarnation of what will be a large and complex app. The JS that creates the panels is here: http://git.postgresql.org/gitweb

[2015-03-05 17:25] Lochemage commented on #28
Dave,

I've just tried both those pages on a local build of my demo page and it
seems to work on FF.

​

​

- Lochemage

On Thu, Mar 5, 2015 at 9:13 AM, Dave Page <notifications@github.com> wrote:

[2015-03-06 09:28] dpage commented on #28
Hi

Can you send me the test code you used, so I can try it here?

Thanks.

On Thu, Mar 5, 2015 at 5:25 PM, Jeff Houde <notifications@github.com> wrote:

--
Dave Page
Blog: http://pgsnake.blogspot.com
Twitter: @pgsnake

EnterpriseDB UK: http://www.enterprisedb.com
The Enterprise PostgreSQL Company

[2015-03-06 22:40] alinoson commented on #29
Hi Lochemage,

Thanks so much, it s not really a bug, i was grabing the title bar instead of the tab widget to re-dock it.

Best regards.

[2015-03-06 22:41] #29 closed

[2015-03-06 22:47] alinoson opened #30 "Impossible to remove the last panel in the layout"
Hi,
I m using wcDocker to manage dynamically a docking layout by adding or removing panels. I need to be able to remove a panel even if it is the last one in the layout. How can achieve that?

Thanks for your help.

Alinoson.

[2015-03-07 08:50] Lochemage commented on #28
Dave,

All I did was take the demonstration page (index.html found in the repo)
and changed the "Widget Panel" found in demo.js to have an iframe instead
of all the other widgets.

var iFrame = new wcIFrame($scene, myPanel);
iFrame.openURL('http://www.postgresql.org/');

- Lochemage

On Fri, Mar 6, 2015 at 1:28 AM, Dave Page <notifications@github.com> wrote:

[2015-03-07 09:32] Lochemage commented on #30
Alinoson,

The short answer is, you can't. Removing the last panel causes a number of
issues so it was just easier to prevent it from being removed. I'll take
some time this weekend to revisit the problem, though; I have an idea that
may work, but I won't be able to promise anything.

- Lochemage

On Fri, Mar 6, 2015 at 2:47 PM, alinoson <notifications@github.com> wrote:

[2015-03-08 04:05] Lochemage commented on #28
Dave,

Upon a second inspection, I did notice that I am getting a lot of Cross Origin errors when loading the pgadmin page.  Are you sure your page isn't properly loading due to that?

[2015-03-08 05:08] Lochemage commented on #30
Alinoson,

Alright, I've come up with a solution that may work for you, I don't know
why I didn't think of this before.  You can now close all panels. To solve
the issue I was having, when you close the last panel, I create an empty
placeholder panel that takes its place until another panel replaces it.
Technically it still means you can never remove all the panels, but at
least to the user it fee

[2015-03-08 05:38] Lochemage commented on #27
Dave,

Just a follow up, did the skeleton allow you to do what you wanted with the theme or is there still some work to be done?

Thanks,

- Lochemage

[2015-03-08 07:00] Lochemage commented on #8
Resolved: https://github.com/WebCabin/wcDocker/commit/4dbb3cc13be3da8edb68014512e0f8f67cd6fded

[2015-03-08 07:00] #8 closed

[2015-03-09 09:40] dpage commented on #27
Yes, it's all good now. Thanks!

On Sun, Mar 8, 2015 at 5:38 AM, Jeff Houde <notifications@github.com> wrote:

--
Dave Page
Blog: http://pgsnake.blogspot.com
Twitter: @pgsnake

EnterpriseDB UK: http://www.enterprisedb.com
The Enterprise PostgreSQL Company

[2015-03-09 09:56] dpage commented on #28
Hi

I don't see any cross origin errors here, but I have figured it out. Whilst this works on Chrome and Safari:
[code]
On Firefox, the following is needed:
[code]
Setting the height doesn't matter on Chrome/Safari of course, so I just do that in all cases now.

Thanks for helping figure this out!

[2015-03-09 09:56] #28 closed

[2015-03-09 18:38] Lochemage commented on #27
Excellent, good to hear.

[2015-03-09 18:38] #27 closed

[2015-03-12 15:53] alinoson commented on #30
Hi Lochemage,
Thank you very much, i tried and it s working perfectly!!!

Best regards.

Alinoson

[2015-03-12 15:53] #30 closed

[2015-03-24 10:22] Lochemage commented on #19
http://docker.api.webcabin.org/

[2015-03-24 10:22] #19 closed

[2015-03-26 01:53] cganas opened #31 "wcSplitter Directional Pane Selection Undefined"
I was following along the tutorial [here](http://docker.api.webcabin.org/tutorial-3.0-widgets.html) and was trying to implement a wcSplitter with the following code.

[code]

However both `vtimelineLayout` and `traceLayout` were undefined. I looked into the code and noticed that left and right were defined as follows:

[code]

and wondered if it was supposed to instead `return this.pane(n, item)`

[2015-03-26 04:24] Lochemage commented on #31
Christopher,

heh, you are correct... that is what I get for not testing new features.
This is something I added only yesterday, or the day before, and just sort
of assumed I did it right since it was such a simple function.  It used to
be that you had to use pane() and provide the number 0 or 1, but I thought
left(), right() would be more user friendly.

I will fix this right now and update the r

[2015-03-26 04:31] #31 closed

[2015-03-26 05:50] Lochemage opened #33 "Create a theme builder"
A single website page that allows you to build custom docker themes and download them!

[2015-03-28 20:36] cganas opened #34 "Issues With wcSplitter in a Vertical Orientation"
I am attempting to create a vertical splitter inside of my panel; however, it is not showing either the top or bottom layout.

[code]

If I instead define it is a horizontal splitter (` wcSplitter(container, myPanel, wcDocker.ORIENTATION.HORIZONTAL)`the layouts work as expected.

[2015-03-28 22:47] Lochemage commented on #34
Christopher,

I've tried a variation of your code above, except I can't use your templating system and I don't know what your vtimelinebox does with css, etc.

First, there is a typo in your container, there should be a semicolon after 'absolute'.

The most often reason that items don't show up into the layout is due to them being a height of 0. In most browsers you can just set 'height:100%' on y

[2015-03-28 23:01] cganas commented on #34
Thank you for the assistance Jeff. It would appear the typo in the style declaration originated from the first code snippet in the [widget tutorial](http://docker.api.webcabin.org/tutorial-3.0-widgets.html)! I apologize for not providing a completely isolated working example of the issue. The issue was resolved with the correction in style. :)

[2015-03-28 23:01] #34 closed

[2015-03-28 23:04] Lochemage commented on #34
ah, thanks for letting me know!  I will update the tutorial just so it hopefully doesn't happen again!

[2015-03-30 01:18] Lochemage commented on #18
Static splitters now have their own style, which includes mouse over cursor change

[2015-03-30 01:18] #18 closed

[2015-04-01 22:05] Lochemage commented on #33
My idea is to use wcDocker as the layout interface for this theme builder website. Panels will be available to allow you to change css options like tab sizing and colors, etc. Most of all, changes you make will immediately be reflected on the current theme rendering the layout!

[2015-04-01 22:08] Lochemage commented on #25
My latest update now includes the ability to collapse panels to a side, or the bottom. Collapsed panels act as slide-out drawers until they are re-attached back into the main layout.

[2015-04-01 22:09] #22 closed

[2015-04-02 14:50] genachka commented on #25
Your 3.0.0 release is shaping up very nicely! I see you also have added the ability to dock panes and control placement of tabs to not only top but now also left, right, and bottom! Thanks for the continued effort to improve windowing library!

[2015-04-02 14:50] #25 closed

[2015-04-03 12:38] Lochemage commented on #16
wcDocker now handles all touch input controls.  Before I mark this complete, I intend to create more mobile friendly versions of all current themes.

[2015-04-05 04:28] Lochemage commented on #17
I will be making a new css class that allows you to use any element you want. You create the element that represents the panel, then you assign a special class to it as well as a data attribute that identifies the panel type. From there, docker will automagically understand it and allow the user to drag-drop it to create a new panel of that type. Your element might look something like this:

[code

[2015-04-05 05:41] Lochemage opened #35 "Optimization needed especially for mobile devices."
The most obvious optimizations can be made by reducing the responsive update rate. Unfortunately, this would mean interactions will seem choppy. Other interfaces avoid this problem by not updating panels while splitter bars are moving, they just show a ghost splitter overlayed on top until the position is set.

[2015-04-06 04:59] Lochemage commented on #16
New CSS class 'wcMobile' automatically applied to document body, current themes now alter their style to better fit mobile.

[2015-04-06 04:59] #16 closed

[2015-04-06 05:01] Lochemage commented on #17
Added 'Creation Panel' type into the demo page (http://docker.webcabin.org).
Documentation added to tutorial tips page (http://docker.api.webcabin.org/tutorial-2.0-tips-and-tricks.html#toc8).

[2015-04-06 05:01] #17 closed

[2015-05-19 13:38] jxc876 opened #36 "Error While docking : Unable to get property '_parent' of undefined"
I setup a simple page using the instruction from the Getting Started page:

HTML:

	<div id="docker"></div>
	<div id="simple"><h2>Simple Panel!</h2></div>

JS:

	$(function(){
		var myDocker = new wcDocker('#docker', {
			themePath: 'libs/wcDocker/Themes'
		});

		myDocker.registerPanelType('SimplePanel', {
			onCreate : function(myPanel, options){
				myPanel.layout().addItem("#simple");
			}
		}

[2015-05-20 02:55] Lochemage commented on #36
Hi,

Thank you for trying wcDocker! I have narrowed down the problem and am fixing it now.

[2015-05-20 04:05] Lochemage commented on #36
Michael,

Thank you so much for your patience, please update and try this again, it should be fixed now!

[2015-05-20 18:24] jxc876 commented on #36
Hi Jeff,

Thanks for the fast reply, looks like that fixed the docking issue !

----

@Lochemage
One last question for you, I noticed that the demo page uses inline html to set the panel content, EX:

    var $themeLabel       = $('<div style="width:100%;text-align:right;margin-top:20px;white-space:nowrap;">Select theme: </div>');
    ...
    myPanel.layout().addItem($themeLabel, 0, 1)

The docume

[2015-05-20 18:24] #36 closed

[2015-06-07 20:58] samogot opened #37 "losing focus on resize"
input fields on any tab loses focus on window resize. that makes impossible to type something on mobile device, as we have such process: focusing input field -> showing keyboard -> window resize -> losing focus -> hiding keyboard

[2015-06-19 04:29] arpanmukherjee1 opened #38 "Adding wcIFrame as floating panel hides the iframe DOM element"
Adding a floating panel and creating a wcIFrame on onCreate callback will not show the IFRAME DOM element. It is hidden by the panel above it.
![image](https://cloud.githubusercontent.com/assets/10557028/8247256/c5098dd2-166a-11e5-8b88-64845efdc28e.png)

[2015-06-19 04:38] arpanmukherjee1 opened #39 "three or more IFrame appear over each other"
Adding 3 iframes and overlapping the bottom two with last one focus. the bottom two z-index are not correct and the frame borders are hidden

![image](https://cloud.githubusercontent.com/assets/10557028/8247281/2e90df3a-166b-11e5-90f2-36b590d201c6.png)

[2015-06-19 04:57] Lochemage commented on #39
There isn't much I can do about this. IFrames can not be part of the panel they are in because panels constantly change their position in the dom tree when they are moved. When an IFrame is moved in the dom tree, its contents are visibly reloaded. To avoid this, the IFrame widget creates the actual iFrame in an outside location that is separate from the panel structure, which means they are actual

[2015-06-19 05:26] arpanmukherjee1 commented on #39
Yes i understand, iframes will reload when moved. But z-index can be dynamically assigned to wcIframe (container of the actual iframe) and +1 to the related panel.
On focus change the array _floatingList and recalulate the z-indexes based on the position.
I think this should solve it. What do you propose ?
Also what other problems do you see ? I did not get it.

[2015-06-19 10:46] arpanmukherjee1 opened #40 "IFrame panel click does not focus the panel"
Dynamically created IFrame panels do not get focus when layout of a non-active panel is clicked,

[2015-07-01 02:49] mc007 opened #41 "edge snap ?"
Hi,
this is the best I ever saw; thank you! I was waiting since long for this.

I am trying to figure out a tweak for snapping a panel vertical with full height of the target panel which has
already 2 sub panels but horizontal splitted. When dragging a third panel onto the left  or right side of the dual panel, it only allows to split the upper or lower panel horizontally but not the full panel; a

[2015-07-01 11:47] Lochemage commented on #41
mc007,

Happy to hear that docker is getting some recognition, I have worked hard so far to make it a useful tool!

Window edge docking is a feature that is currently not supported, but I have thought about it. Before now, I have held off because the infrastructure wouldn't easily allow it. However, a lot has changed in some of the more recent updates and I believe it can now be implemented.

I wi

[2015-07-01 11:50] Lochemage commented on #40
arpanmukherjee1,

Could you be more specific, I am not sure I understand what you mean by this bug. Thanks.

[2015-07-01 12:13] mc007 commented on #41
Hi,
thanks for the heads up; ah, so its called edge snapping then; I will updated the title.

[2015-07-01 12:35] mc007 opened #42 "Collapsibles"
Hi,
after toying long enough now, I noticed a few very disturbing/confusing issues:

1. By default, the 'collapse' button removes a panel from the tab-container and minimizes it on the left/right/bottom. That's fine so far as long this is intended except:

- its really annoying to get the layout back, because actually you want just collapse the entire tab-container. Think of a standard right panel

[2015-07-01 12:48] arpanmukherjee1 commented on #40
Ref screenshot
![frame](https://cloud.githubusercontent.com/assets/10557028/8454616/846b718a-201c-11e5-9694-ba21bd6a116c.jpg)

frame 1 was created after frame 2. Now clicking on the layout of frame 1 should focus the panel.

Hope the issue is clear now.

[2015-07-01 13:35] mc007 commented on #42
just to correct, multiple dockers won't work still panels can't be moved among them as I see

[2015-07-01 14:16] mc007 commented on #42
ok, I figured it out. Easiest was to turn wcSplitter into a 'ToggleSplitter' (arrow buttons in the splitter and for the panel toolbar as well)

[2015-07-01 14:16] #42 closed

[2015-07-01 19:44] Lochemage commented on #40
Ah, I understand.  I will look into this as soon as I am able.

[2015-07-01 20:00] Lochemage commented on #42
mc007,

I'm glad you found a solution for your problem, but I thought I should comment anyway:

The collapse button is only part of the individual panel, there is currently no button system for entire frames of multiple tabbed panels.  However, you can always drag-drop the tab bar to move entire groups of panels elsewhere. This includes dragging the group of panels to a collapsed side bar (as long

[2015-07-01 20:31] mc007 commented on #42
hi, thanks!
yup, i understand the docker problem, really no need. doing toggle 2 buttons along the splitter bar took just 10 lines of code btw. fully enough; case solved :-)
I will check the 'snap on edge' feature as next,
see you around!
g

[2015-07-02 14:57] mc007 opened #43 "panel with collapsible false doens't accept new panels?"
Hi,
I am trying to have some fixed layout (border-container with left/center/right/top/bottom). In order to make those standard containers fixed, I did set collapsible to false but since then, they don't accept panels to be dragged onto them. Is that on purpose? I mean its a little misleading flag then..

[2015-07-02 16:29] Lochemage commented on #43
mc007,

Collapsible should not have the behavior you are describing, but moveable false will.  The reason is that docking a panel relative to another panel essentially moves both panels. If one panel is marked as non-moveable, then you should not be able to use it as a drop target because it can not be moved (or pushed over in this case).

[2015-07-02 17:02] mc007 commented on #43
thanks you!,
ash on my head :-)

[2015-07-02 17:02] #43 closed

[2015-07-03 02:20] Lochemage commented on #38
Please let me know if you find any problems with this update. Thanks.

[2015-07-03 02:20] #38 closed

[2015-07-03 03:38] Lochemage commented on #40
Please let me know if you find any more related issues with this update.

[2015-07-03 03:38] #40 closed

[2015-07-03 07:07] Lochemage commented on #41
I've just made an update that will allow you to dock a panel along the full edge of the window instead of nested with a smaller panel by dragging a panel to the very edge.  Let me know how this works for you or if you have any issues.

[2015-07-03 07:07] #41 closed

[2015-07-03 12:36] mc007 commented on #41
Excellent, works  as expected! Just the other snappers seem now harder to get. But I guess its a matter of tuning in Layout.js. Also thanks for cleaning up the unneeded commas!

offtopic: the only left issue for me is to get rid of the title-bar completely, its consuming too much space  I will an issue after for that soon.

![layout_sample](https://cloud.githubusercontent.com/assets/1205100/849914

[2015-07-04 02:01] mc007 commented on #41
ah, found my mistake for; when the title of a 'fixed' panel (not collapsible) is null or '', its not accepting panels at all; never mind :-)

[2015-07-07 15:08] mc007 opened #44 "event for tab changed?"
Hi,

for a top - tab - container, I'd like to get notified when the tab is changed. So I tried 'GAIN_FOCUS' but its emitted for any other tab within the same tab container as well. Is that normal? I guess so since I know a 'tab' isn't a necessarily just a panel;

However, the only reliable way I could figure was extending function __onMouseDownFrameTitle(event) at end for:

                   var

[2015-07-07 15:47] Lochemage commented on #44
mc007,

GAIN_FOCUS and LOSE_FOCUS are actually working as intended, although the API descriptions for those events are misleading.  Focus events happen on the entire tabbed frame itself, not actually an individual panel.  Sorry for the confusion, I'll update the API description immediately.

The event you probably want to use is VISIBILITY_CHANGED, while there are other ways to change visibility,

[2015-07-07 15:53] mc007 commented on #44
I tried VISIBILITY_CHANGED but was missing the isVisible part.
Ok then, we can close this ticket :-)

Thank you again, top notch support!

[2015-07-07 15:54] Lochemage commented on #44
Actually, when writing those instructions, it became apparent to me that maybe I should pass in the current visibility state as the first parameter. It shouldn't be necessary that you request the state yourself while you are receiving that event.

[2015-07-07 15:57] mc007 commented on #44
yup, I was missing that argument there too ;-)
g

[2015-07-07 15:58] Lochemage commented on #44
I will change this real quick, once changed your code should look like this instead:
[code]

[2015-07-07 16:43] #44 closed

[2015-07-07 21:01] mc007 opened #45 "some little optimization"
Hi,

**Lookups**

currently its all under wcDocker. which might be probably fine for you but in large environments; JS lookups (upwards til global/window) can become a performance problem.

I did it already for me, using a require-js like approach = AMD modules (i know, its outdated looking at ES6 and all the transpiler trallala/mess). I don't now how this can be done via plain/jQuery JS but its p

[2015-07-08 00:11] Lochemage commented on #45
mc007,

If I am understanding you correctly, you are asking me to copy all of the constants found in wcDocker to each of the other classes, like wcPanel, so that the scope lookup would find the variables faster.

While this might improve the lookup, I don't know if it would improve the overall performance by any significant amount. I would need to see performance stats on this before I committed m

[2015-07-08 01:07] mc007 commented on #45
hi,
constants: yes!

sorry for the long text:

actually you can only see that when debugging chrome's V8, looking at the insane amount of machine calls(ASM) for each lookup and depending on the size of the scope and some CPU internals, it doesn't look good. I guess its JS nature not being able to 'cache' the lookup.

I started a stackoverflow discussion once on this and couldn't come up with some

[2015-07-08 21:46] Lochemage commented on #45
mc007,

The layout of the entire window depends on every panel, even the invisible ones. If any panel has a min or max size constraint, it will effect the overall layout of the window. That being said, if a panel is invisible, then all of its contents won't be reflowed, so it shouldn't have a performance cost in that case.

However, there is a feature already implemented that might be close to wha

[2015-07-08 23:40] mc007 commented on #45
ok then, thanks again!

[2015-07-08 23:40] #45 closed

[2015-07-12 20:13] arpanmukherjee1 opened #46 "Option to hide and show panels"
Hello

I found wcPanel.__isVisible() triggers VISIBILITY_CHANGED event and iframe listens to it.

[code]

But the above code does not work.

Is there a way to hide and show panel (frame + iframe) without destroying it ?

[2015-07-12 21:53] Lochemage commented on #46
arpanmukherjee1,

For future reference, any function that starts with '__' is meant to be used internally only, they may not work exactly like you would expect. This is also why they are not documented in the API.

In this case, __isVisible() is only meant to toggle the visibility flag in a way that alerts all the proper evocations about the change, it does not actually make the panel invisible it

[2015-07-13 13:35] mc007 opened #47 "preserve splitter positions on resize?"
Hi,
wcSplitter uses already normalized values (0-1) for positions; thats just perfect! I was wondering how to preserve this positions after a browser-window resize. I am not sure whether its just not implemented yet or its on purpose?

However, I was wondering where to implement this; I guess it goes into wcSplitter (after resize event), right?

Thank you again!
guenter

[2015-07-13 21:04] Lochemage commented on #47
mc007,

If I understand you correctly, you want the splitter bars to scale along with the window resize?

Currently, splitter bars recalculate themselves so that they **appear** not to have moved in relation to their pixel positions. If the recalculation was not done, then resizing the window would also cause the splitters to scale in relation to their percentage within the window.

In wcDocker, a

[2015-07-14 02:07] mc007 commented on #47
yes,
ok, thank you again for the detailed answer; it makes perfectly sense and after all it looks I am looking from the wrong angle on my problem, in my apps have the usual layout:

- left - panel (custom accordion=navigation) : min-w=300px
- center - panel (tabs) : w=remaining (it needs to have a placeholder panel which bothers me a lot too btw. Otherwise, I can't have a 'right' panel for propert

[2015-07-14 03:08] Lochemage commented on #47
mc007,

With wcDocker, the user can move panels and dock them anywhere in the window, so there should never be a situation where you expect a panel to be placed in a certain location. Your right side window could easily be shifted to be the left side window, etc.

Unfortunately, since the splitter bars are designed to **not** move during resizing, the right and bottom most panels **must** resize t

[2015-07-14 10:45] mc007 commented on #47
yeah yeah, I got these basics
ok, happy hacking time then  :-)

feel free to close this, and thanks again for the awesome support!
g

[2015-07-14 10:45] #47 closed

[2015-07-14 17:22] arpanmukherjee1 commented on #46
Lochemage,

Thanks, I supposed that __isVisible() is internal by tried it out anyway. I missed that the tab layout hides the panels.

In my case the panels will have contents that are rendered when the panel is created for the first time. Now its required that the state (including scroll position and others) do not change but the user will remove the panel and it must be restored at a later time.

[2015-07-15 06:42] asheshv opened #48 "A floating panel/frame cannot be reattached"
In example (indexDev.html), if we detach the Control Panel, and make it a floating panel, we can not reattach it to docking layout.

[2015-07-15 06:42] asheshv opened #49 "A floating panel/frame cannot be reattached"
In example (indexDev.html), if we detach the Control Panel, and make it a floating panel, we can not reattach it to docking layout.

[2015-07-15 06:56] Lochemage commented on #49
To re-dock a floating panel, you have to drag-drop it by its tab widget. If you drag it by the title bar you will only move the window around.

Does this help?

[2015-07-15 08:36] Lochemage commented on #46
arpanmukherjee1,

I've been thinking about this one, but it isn't an easy one to solve. Also, I'm still having a hard time understanding why you can't just destroy the panel and then remake it, can't you just save the scroll position and other details and restore them when a new panel is created?

[2015-07-15 08:43] Lochemage commented on #48
Duplicate of #49

[2015-07-15 08:43] #48 closed

[2015-07-15 12:52] arpanmukherjee1 commented on #46
Yes, saving and restoring all known properties is the 'ideal' way, but, as I said not always possible.

You see, the panels shall host contents that are rendered by 3rd party JS. I will call a method passing on the layout DIV of the panel to this method.

So it's better just to hide it for two reasons:
  - Make the API simpler to work with and not force the user to save a transient layout.
  - Per

[2015-07-15 15:26] asheshv commented on #49
Hmm..
The problem was - both the Control Panel and Batch Panel together got detached.
But - we can't reattach together.

[2015-07-15 16:27] Lochemage commented on #46
arpanmukherjee1,

Ah, I understand.  Please give me some time to think about this, we may be able to come up with a solution.

Thanks

[2015-07-15 16:30] Lochemage commented on #46
arpanmukherjee1,

I think I can introduce a concept of a 'persistent' panel. Or at least, a panel that never really gets destroyed, just hidden and re-shown.  To the users perspective, though, the panel can be closed and re-created within the view.

Only one problem with this feature, maybe you can help me with; What happens when the user opens two of the same window?

[2015-07-15 16:35] Lochemage commented on #49
asheshv,

I see, this has been a long standing issue. You can still drag and dock each panel individually, however, if you want to dock them all at once you will have to use the middle mouse button when dragging the title bar (not a tab).

This is not a well documented feature, because I don't really like how that works. It was just put in because I couldn't think of another solution.  Do you have

[2015-07-16 03:55] asheshv commented on #49
To be honest -  I've just started using wcDocker.

[2015-07-16 16:13] arpanmukherjee1 commented on #46
Ah, I see. That is exactly what I was looking for.

Ok, expanding on the scenario, if I have registered a panel type eg. 'myType' and added two panels, then what is the result of calling myDocker.hide('myType'). Right?

In my opinion hide() can be the method of wcPanel and not wcDocker. It's up-to the developer to ensure the right panel is selected before calling hide() on that panel.

Does it ans

[2015-07-16 18:59] Lochemage commented on #46
arpanmukherjee1,

You are correct, the hide function would not be part of wcDocker, but the wcPanel instead. However, I was more concerned about having multiple persistent panels. However, I was thinking that a persistent window would automatically hide instead of close whenever the user clicks the close button (so essentially it can never be actually closed, only hidden).

Since the user can add

[2015-07-17 03:45] arpanmukherjee1 commented on #46
Yes, that is the way it will work.

Ok, expanding the scenario you are suggesting that I have a registered panel type eg 'myType', now if panel is added two or more times, calling 'myDocker.hide('myType')' will hide or show  which panel. Right?

Give the panels an unique ID that can be passed as parameter addPanel()

[2015-07-17 06:30] Lochemage commented on #46
arpanmukherjee1,

There won't be any chance to call a function like `addPanel()` with an ID value as you say.  I'm talking about when the user closes the panel and opens a new one completely using the front end interface, they wouldn't have any access to code at all. As far as code is concerned, to re-show a previously hidden persistent panel you would just have the find that panel and call `show(

[2015-07-17 07:07] arpanmukherjee1 commented on #46
Lochemage,

I suppose you are considering a new type of panel like `wsHideablePanel. `

Instead of this we can make `wcPanel` have `hideOnClose` bool property that is checked when the 'close' button is clicked. Also already hidden panel can be programmatically destroyed. I think that will not effect the existing methods/functionality.

Yes, that's a valid point that user wont be able to give an ID

[2015-07-17 07:13] Lochemage commented on #46
arpanmukherjee1,

Yes, it will just be an option when registering the panel type.

[code]

[2015-07-17 11:58] arpanmukherjee1 commented on #46
OK, that sounds good.

[2015-07-19 22:52] gbaumgart opened #50 "my enhancements list"
hi,
this is my ultimate list :-)

- api toggle to hide show a panel's tab-bar entirely (needed in nested layouts, or protected areas)
- api and gui for minimizing/maximizing one part of a splitter
- accordion (tabs don't really do the job)
- being able to make collapsibles sticky, hide & show will resize then other panels, not just an overlay
- protected areas/panels (an 'accept mask') to avoid mu

[2015-07-19 23:39] Lochemage commented on #50
mc007,

I appreciate your suggestions and I will try to answer them the best I can:

* api toggle to hide show a panel's tab-bar entirely (needed in nested layouts, or protected areas)
  * If I understand you correctly, this feature already exists. If you set a panel's title to `false`, the title and tabs will no longer be displayed. However, keep in mind that this will severely limit the users ab

[2015-07-19 23:43] Lochemage commented on #50
mc007,

Also, if you feel that others can benefit from using your theme (assuming that screenshot is actually using wcDocker with your own custom theme), I encourage you to share it with us!

[2015-07-25 12:29] bulentv opened #51 "Floating panel as a host for other dragged panels"
Thank you for this great library!

Enhancements :
It would be good to make the floating panels also able to get other windows to create splitted and/or tabbed windows that are floating or popped up.

Issue:
When the user starts dragging a panel, it's like it wants to be docked somewhere as soon as possible and resists to become floated. :) I think the boundary of key positions to decide suggesting

[2015-07-26 17:48] Lochemage opened #52 "Ability to configure the threshold of docking anchors."
This issue is taken from report #51 from bulentv:

When the user starts dragging a panel, it's like it wants to be docked somewhere as soon as possible and resists to become floated. :) I think the boundary of key positions to decide suggesting to user to dock the window to the nearest position should be tweaked to allow for a possibility to float it in more balanced way.

[2015-07-26 17:48] Lochemage commented on #51
bulentv,

That is a good suggestion, I'll keep this on the list in case I manage to gather enough free time to do it. I suspect it would require some large scale refactoring, though.

As for your issue, I would like to keep each individual suggestion/issue separated, so I have moved it to report #52.

[2015-07-26 17:57] Lochemage commented on #52
@bulentv,

For this, I believe the solution would be to add a custom property value when you construct an instance of wcDocker that will allow you to override the threshold of what I call docking anchors.

[code]

Will this work for you?

[2015-07-26 19:26] Lochemage commented on #46
arpanmukherjee1,

I have just implemented this feature, please let me know how this works for you:

[code]

[2015-07-26 21:05] Lochemage commented on #52
@bulentv,

I have implemented this feature, the wcDocker options are `edgeAnchorSize` and `panelAnchorSize`

[code]

Please let me know if this solves your issue.

[2015-07-27 10:44] arpanmukherjee1 commented on #46
@Lochemage
I tried out the enhancement and it's working as expected. :)
In process of integrating it with my code.

Thanks.

[2015-07-27 16:40] bulentv commented on #52
Jeff,

I tested it and it feels much better now!
Thanks for the quick response,

Bulent

[2015-07-28 11:23] mc007 commented on #50
Hi,
thanks again for the insightful answers; i am a little too busy right now to get through all, but the theme is here: https://github.com/mc007/wcDocker/blob/master/Themes/white.css but I am not really sure its really complete since there are 2 other themes layered in top (classic jQuery themes).

[2015-07-28 12:37] arpanmukherjee1 opened #53 "IFrames become non-interactive"
@Lochemage,

While using IFRAMES docked panels become non-interactive due to div with `wcIFrameFocus`.

![screen](https://cloud.githubusercontent.com/assets/10557028/8931369/6cb615e4-3553-11e5-948c-ccbbb9547857.jpg)

Ref screenshot: the iframe panel on the right is not getting focus due to below div.

[2015-07-28 15:42] Lochemage commented on #53
@arpanmukherjee1

iFrames steal mouse input such as mouse drag events from reaching wcDocker, without the drag events, if you try to move a panel and dock it somewhere over the iFrame it causes problems. The solution was to cover up the iFrame with some element that blocks the iFrame from stealing mouse focus.

However, the wcIFrameFocus element should always be set to `display: none` except in ve

[2015-07-28 15:45] Lochemage commented on #52
I am going to close this issue as complete.

If you come across any problems related to this new feature, please re-open this issue.

[2015-07-28 15:45] #52 closed

[2015-07-28 15:49] Lochemage commented on #50
@mc007

It seems you are correct, the theme seems to be missing some styling when used on its own. In any case, one of my goals for the future is to design a theme building website that will make it much easier to design your own themes.

[2015-07-28 16:33] arpanmukherjee1 commented on #53
Ah, I get why the wcIFrameFocus is required.

To reproduce the issue: In your demo site
1. close all panes except tutorial panel and control panel
2. add another tutorial panel
3. make it floating and then dock it on the right (or any other) side of the existing panel.

I tried the steps and reproduced the bug.

I tried to debug the code and `__updateFrame()` is reporting the panel as unfocused, `

[2015-07-28 16:46] Lochemage commented on #53
@arpanmukherjee1

Thank you for the detailed instructions, I am able to reproduce this bug now.

I will have some time later tonight to look into it, I'll keep you updated!

[2015-07-28 16:51] arpanmukherjee1 commented on #53
@Lochemage
Welcome. Sounds good to me, thanks.

[2015-07-28 22:42] bulentv opened #54 "Text selection preventation during drag / resize does not work on floating panels."
Floating panels' DOM elements are moved out of the main container which is a common approach to set them free-moving. I think this causes here a side effect to temporary text selection disablement which is another necessity to prevent messing up the view during drag/resize operations.

Since the .wcDisableSelection is applied only to main container, floating panels are not taking it.
Preventing th

[2015-07-29 02:28] Lochemage commented on #54
@bulentv

You bring up a good point. It used to be that the floating panels appear inside the docker container element, but I have since moved it out so the panels can move more freely. I guess I forgot about the select class.

[2015-07-29 02:39] Lochemage commented on #54
@bulentv

I have move the class to the body element, let me know how that works for you.

[2015-07-29 03:03] Lochemage commented on #53
@arpanmukherjee1

Try it out now, I believe I have made it better than before!

[2015-07-29 04:50] bulentv opened #55 "SSL Demo site is not loading"
@Lochemage,

I think something is  wrong with either the SSL certificate or the server itself at https://docker.webcabin.org. It is not loading. Non-SSL site is fine.

![image](https://cloud.githubusercontent.com/assets/813743/8950157/386aa7fa-35c6-11e5-83bc-a3d83a921786.png)

[2015-07-29 05:07] Lochemage commented on #55
@bulentv

You are correct, I've removed SSL as it was unnecessary.  There is nothing to be kept secure.

[2015-07-29 22:29] Lochemage commented on #50
@mc007

I have begun working on a somewhat basic theme builder tool that may help you with your theme. You can keep track of its status from its new branch `feat-33-theme-builder` and issue #33. For the moment, it looks like I can put it all into a single panel type right on the demo site, but we shall see how things progress.

[2015-07-29 22:31] Lochemage commented on #33
I've begun working on this enhancement through branch [feat-33-theme-builder](https://github.com/WebCabin/wcDocker/tree/feat-33-theme-builder)

[2015-07-29 22:32] mc007 commented on #50
hi, having a themes for wcDocker makes little sense for me, I'd prefer its using something standard, g-material/bootstrap or similar; anything which makes it easier to integrate somewhere else :-)

[2015-07-29 23:58] Lochemage commented on #50
@mc007

I would agree with that, but any *standard* theme is still going to have to be made somehow.

[2015-07-30 00:10] mc007 commented on #50
sure :-)

[2015-07-30 05:26] arpanmukherjee1 commented on #53
@Lochemage
It's working as expected. Thanks

[2015-07-30 05:26] #53 closed

[2015-07-30 05:44] arpanmukherjee1 commented on #46
@Lochemage,
persistent panel do not work as expected in case of iframe panels.

[code]

![screen](https://cloud.githubusercontent.com/assets/10557028/8976530/dd418498-36ab-11e5-9468-337e0e1b9382.jpg)

Notice the frame is closed and the content is still visible.

Should i open another thread ?

[2015-07-30 17:19] Lochemage commented on #46
@arpanmukherjee1

Thanks for catching this one, I will look into it as soon as I can.

No need to make another ticket, this one should not be complete until we are satisfied that persistent panels have been implemented properly to start with.

[2015-07-30 17:32] arpanmukherjee1 commented on #46
Ok. Thanks

[2015-07-31 03:17] Lochemage commented on #46
@arpanmukherjee1

Please give it a try now and let me know if you find any more issues :)

[2015-07-31 09:15] arpanmukherjee1 commented on #46
@Lochemage

I applied the fix and it works as expected. Thanks.

[2015-07-31 11:17] arpanmukherjee1 commented on #46
@Lochemage

The issue still persists while closing the last panel.

[2015-07-31 16:06] Lochemage commented on #46
@arpanmukherjee1

Ok, for sure now!  It's fixed!

[2015-08-03 10:35] Lochemage commented on #33
Merged the new theme builder panel into the master branch. It is almost fully function except for mobile support (and maybe a few desired attributes).

[2015-08-03 10:48] Lochemage commented on #54
@bulentv

Closing this issue, please re-open if you find any problems with it.

[2015-08-03 10:48] #54 closed

[2015-08-03 10:49] Lochemage commented on #55
@bulentv

Closing this issue. Please re-open if SSL is really that important to you, and if so, please tell me why.

[2015-08-03 10:49] #55 closed

[2015-08-03 10:50] Lochemage commented on #46
@arpanmukherjee1

Closing this issue, please re-open if you find any problems.

[2015-08-03 10:50] #46 closed

[2015-08-03 11:03] arpanmukherjee1 commented on #46
@Lochemage

Yes I believe it's fixed now.

[2015-08-04 00:29] Lochemage opened #56 "Add ability to minimize panels"
Minimizing a panel keeps it docked in the same location, except the content area will be shrunk (or even minimized entirely, only showing a title bar).

This feature still requires a few design decisions before it can be fully carried out:
- Will minimizing leave you with only a title bar?
- Does minimizing mean only that a smaller alternative view appears instead of the full?
- Does minimizing al

[2015-08-04 14:22] arpanmukherjee1 opened #57 "CLOSED panel event handler not triggered"
@Lochemage

The `wcDocker.EVENT.CLOSED` event handler is not invoked when panel events are hooked up **after** `onCreate` function.

[2015-08-04 14:34] arpanmukherjee1 commented on #56
@Lochemage

Are you considering having a minimize panel where all tabs are minimized?
This will lead to cluttering of all the panels and the logical hierarchy is lost.

I think panels should detach themselves and minimized individually rather than all tabs.

[2015-08-04 16:52] Lochemage commented on #57
@arpanmukherjee1

Do you have a code sample?  I'm not sure how you mean by hooking up the closed event after `onCreate`.

I've tried the closed event both inside the `onCreate` and with the resulting panel from `wcDocker.addPanel` and it worked fine for me.

[2015-08-04 16:57] Lochemage commented on #56
@arpanmukherjee1

Good commentary, this is kind of the reason I am bringing it up for discussion here, so we can talk about it and consider it. It was originally brought up to me by another who wanted this feature, but in order to implement it, I will have to have much finer details on how it should work.

[2015-08-05 05:43] arpanmukherjee1 commented on #38
@Lochemage

I think this issue appeared again. Please verify and re-open this. I will try to find the exact scenario when it occurs.

[2015-08-05 05:49] arpanmukherjee1 commented on #57
@Lochemage

This is the simulated code sample. The actual code is bit complex to list down.

[code]

[2015-08-05 05:55] arpanmukherjee1 commented on #56
@Lochemage

Agreed. Let's take the points one-by-one.

Can we have a wire-frame of minimized panels. Then we have a clearer picture how you envisioned this. I will try to come up with mine as soon as I find some time.

[2015-08-05 05:59] Lochemage commented on #38
@arpanmukherjee1

Perhaps further details are needed, I just tried it on both the online demo site and the latest default branch and it works as expected.

[2015-08-05 06:09] Lochemage commented on #57
@arpanmukherjee1

You may have to provide more; Using the code above, I've tried closing that panel when it was both initialized as part of the initial layout, when I manually created and closed it, and when it is both floating and docked.

I couldn't copy the `self.moduleObject.onRender(panel);` part though.

[2015-08-05 09:54] Lochemage commented on #33
Mobile support for theme building is now implemented!

[2015-08-05 09:54] #33 closed

[2015-08-05 10:06] arpanmukherjee1 commented on #38
@Lochemage

Yes you are correct, this is not occurring in normal scenario. Will confirm when I hit the use case again.

[2015-08-17 09:30] bulentv opened #58 "moveable(false) is not fully preventing the panel move."
Assume that we have a "fixed" panel made by calling movable(false) & closable(false) just like the header on the demo page.

If we drag one of the other panels next to the "fixed" panel, it is actually possible to dock it between the windows edge and the fixed panel. This causes the fixed panel to move to the position after the newly docked panel.

As it is not easy to reproduce this problem, I up

[2015-08-17 09:37] Lochemage commented on #58
@bulentv

Nice catch, it's a bit too late for me to look into this one right now. About to sleep, but I will look into this one asap.

[2015-08-18 04:32] Lochemage commented on #58
@bulentv

I have checked in a fix for this issue, please let me know if you find any more issues.

[2015-08-18 06:49] bulentv commented on #58
@Lochemage

Thanks, it looks better. If I leave only one docked panel along with the fixed panel I can no longer reproduce the issue.

But I still able to reproduce a similar issue in a slightly different way. If we left one docked and another floating panel we can dock the floating panel to a place between the container edge and the fixed panel, where I believe should be prohibited. Can be seen o

[2015-08-18 08:51] gbaumgart opened #59 "adjusting Drag'n drop thresholds?"
Hi,
sometimes til often its re-arranging panels by a click only (on title bar or center pane). I have some heavy GUI operations linked to some of the docker events but all of them run with a little delay which improved the problem already.

I was wondering there is some possibility to adjust the drag'n drop behavior or thresholds. And sorry, I cant really provide a sample for that.

[2015-08-18 16:43] Lochemage commented on #59
@mc007

Take a look at [options](http://docker.api.webcabin.org/wcDocker.html#~Options) edgeAnchorSize and panelAnchorSize and let me know if this will work for you.  The syntax to use it is as follows:

[code]

These will set the thresholds for drag-drop behavior for both edge docking and normal docking, you can set these values to a simple number (pixel value) or a string with either 'px' or '%'

[2015-08-18 16:51] Lochemage commented on #58
@bulentv

Your video is private so I can't see it, but I found the issue you are talking about and am on it, thanks!

[2015-08-18 17:13] bulentv commented on #58
Oops sorry, I made it unlisted now.

[2015-08-18 17:16] Lochemage commented on #58
@bulentv

I've made an update that should fix this issue as well, please let me know if you find any further issues!

[2015-08-18 20:47] mc007 commented on #59
hi
thanks, as always great support!

i used different variations of sizes but still the same. I think it should be about the time you're accepting/recognizing a drag itself, eg: the delta time of mouse down - time of mouse move (or similar).

So if I could relax the that time a little that would go in the right direction. Please consider that I do have my own Dnd handlers on the $center content el

[2015-08-18 21:30] bulentv commented on #58
@Lochemage

Thank you, it looks good.

[2015-08-18 21:50] bulentv commented on #55
@Lochemage

SSL is not actually important but my point is that "the demo link on the github description of the project" points to SSL site while the SSL site is not functioning properly. Sorry for forgetting to mention this :)

![image](https://cloud.githubusercontent.com/assets/813743/9343651/edaa0b60-460b-11e5-89d8-758a6d21e287.png)

[2015-08-18 22:28] bulentv commented on #59
@mc007

Can you please try this patch if it works for you. On my tests, it works : https://github.com/bulentv/wcDocker/commit/2c4ebfaf75d093829385dd7067376b68a3660900

I tried to add a new config option to set a delay between the mouse down and drag start. Note that I'm not sure this is the correct way to do this for now so I didn't created an official pull request.

[2015-08-19 00:35] Lochemage commented on #55
@bulentv

Ah, thanks for catching that one, I thought I had fixed all the references.

[2015-08-19 00:43] Lochemage commented on #59
@bulentv

Interesting, I'd be happy to merge this in after testing. Could you make it a pull request?

[2015-08-19 01:41] Lochemage commented on #59
@mc007

I've merged in @bulentv 's update to the master branch, please let me know if this solves your issue.

[2015-08-19 19:13] mc007 commented on #59
hi,
thank you both, I couldn't test it yet. I am little stuck with using wcDocker directly (my for is here now: https://gitlab.com/xamiro/xdocker | AMD compatible) and integrating PRs or updates. Major problems for me are the code formatting (spaces instead of intends, unneeded commas), globals (instanceOf) and also the use of constants (global too). If we could agree on some polishing/cleanup/sta

[2015-08-19 19:34] bulentv opened #62 "CRLF line endings"
@Lochemage

Is that the repo storing the code files with windows-style CRLF line endings? I am using linux and somethimes git is thinking that all the lines are modified while I change just a few lines. When I check the differencies, I always found that the original file is CRLF and modified one is a LF style file.

I think a .gitattributes file may need to be added to the repo (and maybe a line e

[2015-08-19 19:45] Lochemage commented on #59
@mc007

I was not aware that you had problems using wcDocker directly.  I think as long as the necessary changes don't cause problems for everyone else not using AMD, you are welcome to make pull requests. Also, if there are specific requirements like making sure I use spaces instead of tabs, or to avoid using extra comma's, I will put priority on keeping any new changes within those parameters.

[2015-08-19 19:52] mc007 commented on #59
ok then thanks for the heads up. Currently I am also little in the dark about modules & classes; I am actually trying to leave 'Dojo-1' for something smaller and more compact. Dojo it self is moving to Typescript  which seems to cover a lot of modern JS problems but also opens a whole new bunch of other problems(build-step as for CSS and no direct JSDoc support, and worst: no real debugging suppor

[2015-08-20 03:09] Lochemage commented on #62
@bulentv

I have added a gitattributes file, I am not entirely sure how this works, it didn't seem to make any of my current files change to LF style, but that may just be because I am running on Windows.

I am going to rely on you to let me know if this corrects the line endings on your side.

[2015-08-20 23:47] bulentv commented on #62
@Lochemage

.gitattributes looks correct to me. But the files are still being checked out as CRLF and it turns out that there is one more change to make the repo cross-compatible in line-endings aspect.

I did it on my fork and tested on both windows and linux. Windows version of git checks out the files with CRLF and linux git does only LF, and also does the reverse on commit/push which is what i

[2015-08-21 00:51] Lochemage commented on #62
@bulentv

I've merged your update! It looks like fixing the entire history of the project might not be a good idea as it will force all users to re-pull a brand new repo. I think it should be ok, though, you don't plan to roll-back to a previous version, do you?

[2015-08-21 01:03] bulentv commented on #62
Wow, thank you for accepting it! And no I don't plan a roll-back.
So, now I can do more contribution to leave this very commit in the past :)

[2015-08-21 01:07] Lochemage commented on #62
@bulentv

Great! I look forward to more contributions!

[2015-08-21 01:07] #62 closed

[2015-08-21 05:12] Lochemage commented on #59
@mc007

Sounds like you have your work cut out for you! I'm sure we can get wcDocker compatible with your machine so you won't have to do any extra steps every time an update comes in.

[2015-08-21 05:13] Lochemage commented on #57
@arpanmukherjee1

Just wanted to give you a ping and see if you are still having this problem.

[2015-08-21 05:14] Lochemage commented on #58
@bulentv

Great, going to close this issue. Feel free to reopen if it comes back again!

[2015-08-21 05:14] #58 closed

[2015-08-21 06:34] arpanmukherjee1 commented on #57
@Lochemage

Unfortunately yes, but i patched it. Why it is there is still unknown to me. Maybe you can help in this case.

But I can show you why it occurs.

in panel.js
[code]

At runtime the `_events.length` is `2`. One is the panel handler and other that I added.
Now when the panel is closed the first handler removes itself from this array and length is updated to 1. This prevents my handler fr

[2015-08-21 08:11] Lochemage commented on #57
@arpanmukherjee1

Ahh, that explains it! The panel itself does not use the closed event. Most likely you are using either a tabframe, iframe, or splitter inside your panel. These will register a closed event, and during that event it will un-register its own events causing your problem!

I've been able to reproduce your case now, and will have a fix for it in a few minutes.

[2015-08-21 08:29] Lochemage commented on #57
@arpanmukherjee1

Please try this latest update and let me know if it fixed your problem.

[2015-08-21 12:54] arpanmukherjee1 commented on #57
@Lochemage

Yes, it's fixed now. Thanks.

But can you tell me the scenario that reproduces the issue?

[2015-08-21 15:58] Lochemage commented on #57
@arpanmukherjee1

All you have to do is create either a `wcTabFrame` or a `wcIFrame` in your panel first before you register your `CLOSED` event handler. The tab frame and iframe both register their own `CLOSED` event handler onto your panel. When they are triggered, they clean themselves up by un-registering all the events they've added, among other things.

[2015-08-22 08:01] arpanmukherjee1 commented on #57
@Lochemage

Ok, got it.

[2015-08-22 08:01] #57 closed

[2015-08-23 12:21] mc007 commented on #59
Hi,
if you or your users would accept require-js as dependency (only for ES5 target in AMD - Mode), then I could re-organize my fork for a Typescript-ready/compatible library(I am not doing it as Typescript!). That means:

1. I supply you with a large PR after or before the 3.0.0 milestone( i prefer a 3.0.0 RC):
- a complete Grunt file which does all: doc generation/dist build/watcher
- the typesc

[2015-08-25 08:05] mc007 commented on #59
well, never mind...

[2015-08-25 08:11] Lochemage commented on #59
@mc007

I'm sorry, I didn't mean to ignore you... I am just not familiar with some of the the requirements you've mentioned so I have not been able to give you a definitive answer. I think that the majority of those suggestions will need to be done by you since you understand what is needed, and made into a pull request for me to merge in.  As long as the changes don't introduce bugs or require ma

[2015-08-25 08:17] Lochemage commented on #59
@mc007

Also, I want to keep the project as lightweight as possible. I will only add another library dependency if it is absolutely necessary; If possible, I would rather embed a small code snippet that does only what I need, rather than import an entire wide-spectrum library only to use one feature.

[2015-08-25 08:58] mc007 commented on #59
sure, I understand. but hey, things like wcDocker comes usually into the game in rather large applications (IDEs) which of course have different needs...anyway, feel free to 'upgrade' sometime; i am around for this.

[2015-08-25 15:47] mc007 commented on #59
All the changes listed above will land here: https://gitlab.com/xamiro/xdocker/tree/xdocker-3.0.0-pre.
I send you another message in 2 weeks or so when its done; proper OOP/AOP, test units, true modularization and kicking out globals seems absolute necessary to me. I also started to kick out the the theme classes for bootstrap/material support....

However, hopefully & possibly you change your min

[2015-08-25 18:00] Lochemage commented on #59
Awesome, I don't mind major changes to the entire system as long as it requires very little or no change from anyone using it.  If all the namespaces etc. are internal then it doesn't matter if they were to change.

We'll have to do something about some of the widget classes (`wcIFrame` and `wcTabFrame`) if you intend to remove them from the global namespace. Not saying I won't do it, just that if

[2015-08-25 21:50] mc007 commented on #59
hell ya, sure. Keeping dependencies down is one my highest priority too. Unfortunately web-development wants things done different now,... Node.js/Grunt/Buildsteps, I hate it all...but hey, it connects us and code pretty well. I finally started forgetting the mess it creates :-). I toyed with  Typescript  & Webstorm 2 days: pretty awesome, code-completion and compiler warnings works out of the box

[2015-08-25 22:01] Lochemage commented on #59
@mc007

Ah, I understand. I'm fine with changing the class objects into actual class-type objects that support inheritance.

I'm less worried about dependencies due to unit testing, that would not effect the end user unless they actually want to run those tests themselves. I also have a lot of experience with Node, so have no problems with that.

[2015-08-31 11:39] gbaumgart opened #64 "how to use the intern/low-level classes ?"
Hi,
most of the classes are for wcDocker's internal use. I was wondering I could use them without a wcDocker instance.

Actually I just need to know how to build a custom layout or a grid if you like. Lets say a main/center region with a bottom area, preferably with a custom splitter(see toggle-button in the status-bar) to expand /resize the status area:
![image](https://cloud.githubusercontent.co

[2015-09-01 11:29] gbaumgart opened #65 "AMD/OOP/Require-JS port PR"
Hi,
I know you're little busy(which is good) but I wanted to keep track of the mentioned PR here. See below the changes/steps I will apply  to a fresh fork(now):

1. adding [dcl](https://github.com/uhop/dcl) & require-js(AMD) as bower dependencies

2. converting all classes to dcl classes. Here is an example library from IBM: https://github.com/ibm-js/deliteful

This step is pretty big, and also i

[2015-09-01 11:56] mc007 commented on #65
1. updated bower.json : https://github.com/mc007/wcDocker/commit/259a53f1a5aba93d5c64c9e9bee249a990fce3cc

1.1 added copy of indexDev.html & demo.js to as starting point to begin step 2. : https://github.com/mc007/wcDocker/commit/dde1af69c3eaf398308fadf3ffc119c7270e6231

[2015-09-01 12:17] mc007 commented on #65
1.2 all files in Code/ cleaned from unneeded commas and semicolons, intendeds reformatted.

[2015-09-01 12:20] mc007 commented on #65
***1.3 until here***:
 https://github.com/mc007/wcDocker/commit/2d3a6f283365d316efabe9c3ae64ff9068fab5d8 nothing really changed, just code cleanup and dependencies updated.

[2015-09-01 14:11] mc007 commented on #65
1.4
- Basic conversion to dcl modules/classes complete, until here: https://github.com/mc007/wcDocker/commit/82eaafd1e02cffad917c785a9dcf0bc157873ed6

- moved redundant function class#docker() into a common shared base class : Code/base.js

[2015-09-01 14:53] mc007 commented on #65
1.5
- AMD - Port complete and fully working, see indexDevAMD.html (requires Code/samples/demoAMD.js)
- theme builder not yet integrated
- "instanceof wcDocker" calls replaced with internal instanceOf function (in Code/base)

https://github.com/mc007/wcDocker/commit/96fe528e6670c603611d67812aad231f0dd7f2c7

[2015-09-01 15:18] mc007 commented on #65
1.6 Ported theme-builder, all working as before

https://github.com/mc007/wcDocker/commit/634d1a62d3f56bceb2537cffb31acda61f6c2ce0

Next: grunt-tasks && adjusting jsDoc for dcl classes

[2015-09-01 16:49] Lochemage commented on #65
@mc007

Looks like you've done quite a bit of work getting these changes ready to go! To make a pull request, go to your fork on Github, enter the pull request section from the menu on the right, and then click the green "New pull request" button.

[2015-09-01 17:09] mc007 commented on #65
hi, thanks. i just can't get the wcIFrame working (crashes at __onMoved because this.docker() seems not to work here, in the other classes it does).

Ok, still need the grunt-tasks for docs & build and then I do the PR.

[2015-09-01 17:41] Lochemage commented on #65
@mc007

Ah, okay.  Getting the iFrame working is of course important, I'll be happy to help with that if I can.

[2015-09-01 18:09] mc007 commented on #65
sure,
1. just clone my fork (https://github.com/mc007/wcDocker)
2. then bower install
3. then open wcDocker/indexDevAMD.html

you will see in the console: "have no docker". its defined in Code/base and works for all others.

sorry, have really no idea why.

Another problem I came around whilst creating a grunt task for the doc build is:
1. since its dcl based, jsdoc has problems to parse it right

[2015-09-02 01:27] Lochemage commented on #65
@mc007

Alright, I'm starting to go through the changes you have made so far. Is there any way to make it so the original `index.html` and `indexDev.html` work?  The changes you have made for `indexDevAMD.html` pretty much forces all users to change the way they initialize their own code (and also forces them to include dcl).

I don't mind having to use dcl during development when updating the pro

[2015-09-02 07:14] mc007 commented on #65
index.html = sure, indexDevHTML was just for me as transition. I will remove also other files when I am done.
dcl/require.js = at the end the build should produce a minified file as before (includes dcl/require.js).

So, I am not sure what you mean now, dcl/require-js will be always there, its just hidden to users who don't use the dev version, so they don't have any API changes (except they can u

[2015-09-02 08:27] Lochemage commented on #65
@mc007

All I mean is that a user should not have to initialize docker like this:

    <script src="bower_components/requirejs/require.js"></script>
    <script type="text/javascript">
        require.config({
            baseUrl: "./bower_components",
            packages: [
                {
                    name: 'dcl',
                    location: './dcl'   //points to bower_components/dcl

[2015-09-02 08:32] mc007 commented on #65
sure, i am on it :-)

[2015-09-02 10:47] mc007 commented on #65
most is done: https://github.com/mc007/wcDocker/blob/master/ChangeLogAMD.md

Still the iframe issue to solve....if you could help, that would be great.

[2015-09-03 14:13] mc007 commented on #65
Is there still anything you want me to change? I am heading now over to the open issues, jsdoc as grunt and the iframe bug. I also can still do something about dcl. Just ask and its given :-)
g

Btw, I just found your wcPlay lib; that is something I am looking since long for, "NowFlow" or "Node-Red" was way too heavy. I also tried to do my own graph-lib but gave up very fast.
However, looks you go

[2015-09-03 19:31] Lochemage commented on #65
@mc007

Sorry, I've pulled the latest code from your repo and saw there were a lot of new changes, but I haven't had the time to really look at it yet. On top of that, I'm getting over a bad flu, so that doesn't make it any easier.

I'll try to get to it soon, though!

[2015-09-03 20:21] mc007 commented on #65
yeah, same here, since 2 days stuck with lemon&honey tee

[2015-09-03 20:25] mc007 commented on #65
btw. nothing really 'changed' per se, its just different packaged and a little more easy (all grunt)

[2015-09-03 21:16] Lochemage commented on #65
@mc007

Oh yes, and about wcPlay. It was the same for me, I was looking for that kind of tool but couldn't find one that matched what I was looking for, so I wrote it myself. Let me know how you like it, especially after you have tried to create your own node types, that I think is the most important.

[2015-09-04 07:44] KarolKolenda opened #66 "Resize desired panel during browser resize"
Is it possible to choose/mark a panel which should be resized when browser size is changing?
I had a three panels: two narrow side panels (one on the left, and one on the right) and "main" wide panel in the middle. When I resize (more precisely enlarge) the browser widow, right panel is getting wider - but I would like the middle ("main") panel to get wider, while both side panel should retain the

[2015-09-04 08:19] Lochemage commented on #66
@KarolKolenda

Unfortunately, there is currently no feature that will do this (unless your right panel had a maximum size constraint). However, I think it would be a great feature to implement, though, but I'll have to look into it.

I'm glad you like it! Thanks for your input!

[2015-09-04 08:58] Lochemage commented on #65
@mc007

Had some time to look at your latest updates, nice work on the documentation so far!

I had some trouble installing via bower, dependency "almost" doesn't seem to exist.

The most pressing issue right now is "index.html" and "demo.js", those have to work without making any changes to them. Currently running index outputs these script errors:
- Uncaught ReferenceError: define is not defined

[2015-09-04 09:13] mc007 commented on #65
hi,
sorry, my fault. I fixed that all:
- bower_components now all in the repo
- almost: fixed = its 'almond'

index.html is untouched except some markup fixes
demo.js has as said still a delay: see open issues.

I am looing into the iframe issue now.

[2015-09-04 09:31] Lochemage commented on #65
@mc007

Okay, I see that index runs fine now, however, it no longer works after I run the automated build process that generates all the files in the build folder. Is there some other way you are building the files now?

[2015-09-04 09:37] mc007 commented on #65
iframe issue: fixed calls docker(this._panel) in Base.

testing build, one moment

[2015-09-04 09:42] mc007 commented on #65
ok, forgot a file to add, works now. sorry,

builds however:

sudo npm install
grunt build

that creates api docs and builds all code and themes (not using anymore your scripts). I will complete this in the change log a little better.

[2015-09-04 09:49] mc007 commented on #65
just one issue left (apart from some incomplete jsdoc changes):

demo.js (used by index.html) has a delay, since wcDocker doesn't seems to be not yet in global, regardless wcDocker.min.js is pulled before demo.js = no idea.

be aware, indexDev.html is using Code/samples/demoAMD.js (doesn't need a delay)

not sure how to fix it, but I'd say it can wait a little.

[2015-09-04 10:01] Lochemage commented on #65
@mc007

Ah okay, it builds the source files, but I am now getting an error when it tries to build the docs:
- Running "jsdoc:dist" (jsdoc) task
- Warning: jsdoc terminated with a non-zero exit code Use --force to continue.
and a popup message that shows:
node_modules\jsdoc\jsdoc.js Line 1, Char 1, Invalid Character, Code 880A03F6, Source Microsoft JScript compilation error

Also, with this change

[2015-09-04 10:22] mc007 commented on #65
jsdoc: seems an issue with windows i guess, let me check. (being on linux here with node 10.x)

compiler folder: needs still your jsdoc config; also search the Gruntfile.js with any entries for 'Compiler/'

g

[2015-09-04 10:25] Lochemage commented on #65
@mc007

Not sure why, though. I use the exact same library with my old doc build process and it worked fine. Perhaps something to do with grunt?  It does say that you can use the --force option to ignore that error, maybe that will work?

[2015-09-04 10:26] mc007 commented on #65
themebuilder:
index.html : is pulling it as normal js file,
indexDev.html : yes, its using an AMD module as well.

I did that because i didn't want to increase the size if wcDocker.min.js

createDocs.sh | createDocs2.sh : can be deleted now too.

jsdoc: nope, --force does't help here. there is indeed an issue parsing some stuff. let me check

[2015-09-04 10:46] mc007 commented on #65
jsdoc crash: confirmed, its an issue on windows. I will investigate this this evening.

[2015-09-04 10:48] Lochemage commented on #65
@mc007

Weird, wonder why it works fine on windows when I run it using Node...

[2015-09-04 10:54] mc007 commented on #65
yeah, i just did run Compiler/compile_documents and all is fine. weird, looks indeed like the grunt plugin is doing the crash.

[2015-09-04 10:55] mc007 commented on #65
ok, i will remove the grunt-jsdoc task for now til this is fixed, til then please proceed with your batch file.

[2015-09-04 10:59] Lochemage commented on #65
@mc007

Yeah, as much as it would have been awesome to have it all together, I might just need to keep the old stuff around. Oh well. Perhaps I can clean it up a bit by putting the grunt build stuff into the Compile folder, so they would both be together.

Anyway, I'm up way too late and I have work tomorrow, night!

[2015-09-04 11:01] Lochemage commented on #65
@mc007

Oh, and great job as well! Once everything is ready, I'll put it through some real testing and then pull it all into my repo!

[2015-09-04 11:10] mc007 commented on #65
ok, found the problem with the grunt-plug, its calling jsdoc wrongly. i could fix that my self in a fork but I'd prefer to report it just and then wait.

[2015-09-04 11:14] mc007 commented on #65
hi, and before you pull it into your repo, may be you create branch of master before, same for the changes as well, so your users can test it before :-)

ok, off for today.
g

[2015-09-04 20:46] mc007 commented on #50
dont bother too much about, will take care about sometime:

- get Right/Left/Bottom/Top - Panel/Frame()

- and a way to group panels, meaning if there is something can be grouped as a square, i need that collection of objects which belong to this square. The idea is also dimm that groups, so only the active panel has full opacity, See https://cloud.githubusercontent.com/assets/1205100/9693569/aa68

[2015-09-04 23:31] KarolKolenda commented on #66
@Lochemage
I think I almost got it, but I have one question: is it possible to resize a panel programmatically (once the layout is already established)?

[2015-09-05 09:14] Lochemage commented on #66
@KarolKolenda

Again, a feature that might be beneficial if it were implemented. In this case, the algorithm is a bit complicated so I have put it off. There is always the work around of having the end user manually size the panels, so I have not put much priority on it.

[2015-09-05 09:18] KarolKolenda commented on #66
@Lochemage
I guess you are right. For the time being I'm saving/restoring layout on RESIZE end/start event - it's not perfect but definitely good enough. Again many thanks for the great library.

[2015-09-07 20:22] bulentv opened #67 "wcPanel.close() is closing the wrong tabbed panel"
I'm trying to dynamically create / close tabbed windows. So I'm using wcDocker.addPanel and wcPanel.close() members to do this. But if the order of .close() calls ar not same with the .addPanel() calls, wcDocker is closing a different tabbed panel instead of the one is called.

Please take the slightly modified demo.js from [here](https://github.com/bulentv/wcDocker/blob/wcPanel_close_issue/demo.j

[2015-09-08 15:35] mc007 commented on #65
hi,
what's missing for being 'ready'  ? There is another PR with API improvements and extensions (optional).
thanks,
g

[2015-09-08 21:27] Lochemage commented on #65
@mc007

I haven't had a chance to dig into it this weekend, I found myself swamped fixing issues with another project.

As far as my previous tests go, things seem to be working for the most part. My next course of action is really just nit-picking, code formatting, cleaning up code and files, etc.

I'll try to get to it soon, though.

[2015-09-08 22:38] mc007 commented on #65
ok, I will go on adding that API directly, should work all backward compatible anyways(fer is comming).

you have any link to your main project(s)?

thanks, don't bother to much ;-)
g

[2015-09-08 22:51] Lochemage commented on #65
@mc007

Unfortunately no, I'm talking about a project I'm working on for the company I work for. We have all our repos hosted privately in-house. It's all very hush hush with lots of NDA's and such...

[2015-09-12 05:56] Lochemage commented on #67
@bulentv

I am seeing this problem and know why it is happening, I should have a fix soon.

[2015-09-12 07:54] Lochemage commented on #65
@gbaumgart

I've made a number of improvements to your fork and have pulled it into the master branch!

[2015-09-12 18:43] gbaumgart commented on #65
great! lets go for PR-2:
- some API improvements (more making use of DCL)
- a theme based on https://wrapbootstrap.com/theme/light-blue-responsive-admin-web-app-WB0T41TX4
- some additions dealing with tabs and more tab-actions (minimize,...)

should be ready in 2-3 weeks or so; my goal is to fix this mess in our app: https://cloud.githubusercontent.com/assets/1205100/9825503/fc8c7ebc-58d3-11e5-849

[2015-09-12 19:03] Lochemage commented on #65
@gbaumgart

Nice, looking forward to it.  I know a few people have suggested minimizing and maximizing before.

For now, I will close this issue. We can start another one when we are ready to implement those features.

[2015-09-12 19:03] #65 closed

[2015-09-14 13:50] #67 closed

[2015-09-14 13:53] Lochemage commented on #67
@bulentv

This should be working properly now, please let me know if you are still finding a problem with this.

[2015-09-14 13:59] Lochemage commented on #59
@gbaumgart

Closing this issue as it seems like it has now been resolved. Please reopen if I missed anything.

[2015-09-14 13:59] #59 closed

[2015-09-14 14:12] Lochemage commented on #64
@gbaumgart

You should be able to use it directly if you want. There are some references within `wcPanel` that expects its `_parent` object to have the functions `docker()` and more recently `instanceOf()`, but those are only if you plan to use the layout as a docking target via function `wcLayout.__checkAnchorDrop()`.

Also of note, layouts have an `__update()` function. Currently this does nothi

[2015-09-14 14:30] Lochemage commented on #50
@gbaumgart

Each `wcDocker` keeps track of all `wcFrame` objects inside of it, among other things, so moving a frame from one to the other would require an exchange which also means they would have to know about each other (probably through some global listing). It would be tricky, but I don't believe it's impossible, it was also the reason why I did not make `wcDocker` a singleton, just in case t

[2015-09-17 06:14] arpanmukherjee1 opened #70 "Error while restoring layout"
Steps to reproduce:
1. In the demo close all panels except a floating panel (control panel).
2. Save the layout and try to restore it.
3. error `Cannot read property '__restore' of undefined`

[2015-09-17 06:20] Lochemage commented on #70
@arpanmukherjee1

Thank you for pointing this out, I see the problem and should have a fix for it soon!

[2015-09-17 08:10] Lochemage commented on #70
@arpanmukherjee1

I've checked in a fix for this, please let me know if you are still seeing this problem.

[2015-09-17 08:10] #70 closed

[2015-09-18 05:13] Lochemage opened #71 "Implement a panel group system"
I have quite an elaborate plan for this, and I have no idea when I'll get a chance to implement this...

The feature will allow you to register a group panel type that behaves much like a single panel except that it contains its own set of panels inside it. These panels can be moved around and resized within the group as well as some other limited functionality.

The most important feature is that

[2015-09-18 06:28] Lochemage commented on #51
@bulentv

I've created a new enhancement ticket #71 that is very similar to your floating panel suggestion. I think with some thought it can actually replace your suggestion altogether. Unfortunately, I think I will be saving that one for after the 3.0.0 release. If I keep adding more features I will never get it released!

For now, I am going to close this bug in favor of #71 instead.

[2015-09-18 06:28] #51 closed

[2015-09-20 01:04] bulentv opened #72 "Panel initial width / height"
A question : What is the proper way to set a panel's width and / or height (not minWidth or minHeight) ?

For example this doesn't work :
(/Code/demo/demoAMD.js, first chat panel's addPanel code, adding 'w' parameter to the option parameter)
[code]

[2015-09-20 05:48] Lochemage commented on #72
@bulentv

You are doing it correctly, however, it is not guaranteed that you will get the size you selected as there are many constraints within the layout. Sometimes, based on the configuration, it's just not possible to set the size to that exact value, and sometimes it may have actually set the size, but another panel added later could cause it to resize again.

In your case, since you docked i

[2015-09-20 08:54] bulentv commented on #72
@Lochemage

Yes I understand that there are constraints but I believe this still can be improved. Developer doesn't have to be prevented setting the initial width or height for at least some panels.

For the example above; the user is able to resize the both chat panels on runtime by dragging the shared vertical edge to the left or right like a splitter. So I think the developer should either be a

[2015-09-22 12:13] arpanmukherjee1 opened #74 "Collapsable panel does not overlap floating panel"
Screenshot attached.

![overlap](https://cloud.githubusercontent.com/assets/10557028/10017933/1d0677f4-6150-11e5-9cce-2814ca27efbc.jpg)

I think z-indexs need to be provided at runtime. Also ref issue #39 that needed cycling of z-indexes.

I patched the bug by introducing a function

[code]
that is called when an panel is added or focused. `Z_INDEX_CHANGED` event is handled by IFRAME to update it'

[2015-09-26 19:44] Lochemage commented on #74
@arpanmukherjee1

Thank you for this, I am looking at it now

[2015-09-26 20:53] Lochemage commented on #74
@arpanmukherjee1

I have implemented your change with some slight modification. Please re-open if you find a problem.

[2015-09-26 20:53] #74 closed

[2015-09-26 20:53] Lochemage commented on #39
@arpanmukherjee1

I have implemented your change with some slight modification. Please re-open if you find a problem.

[2015-09-26 20:53] #39 closed

[2015-09-30 04:08] Lochemage opened #75 "Implement a way to add custom CSS classes to significant elements."
For example, a panels tabbed item could be customized with your own css class name defined while registering that panel (or later).

Will need to come up with a list of all significant elements that may be useful for this purpose.

[2015-10-06 06:45] arpanmukherjee1 opened #76 "Ability to maximize panels"
@Lochemage
I am currently implementing feature for maximization of the panels.

I tried to make the panel floating modal and then redock to the same place on restore. But this destroys and reloads the panel contents. So this is not the correct way for me as the panels must not reload.

Second thing i tried was to set CSS of the frame to height width 100%. This approach works and contents take up e

[2015-10-08 18:41] gbaumgart commented on #75
hi,
I had recently the same issue when adding bootstrap support (just a few changes!). It would be great that markup is a member variable of each class. At least in the 'Dojo' world its like that and its easy to be overridden by subclasses.
just saying

[2015-10-08 18:43] gbaumgart commented on #64
'got' it!

[2015-10-08 18:43] #64 closed

[2015-10-08 18:47] gbaumgart commented on #76
what you mean by maximize the panel, its content or indeed the entire panel ? I found resizing the content only is way easier, at least you don't have to 'restore' sizes & positions.

[2015-10-08 19:35] gbaumgart commented on #75
the real problem is rather that jQuery doesn't references nodes in a template to the module, thats also common practice in dojo (via attribute 'attachment-point=tabBar').

so i tried a few minimalistic jQuery plugs for templating but none really satisfied or did referencing via data attribute.

nevertheless, i'd like to move all markup into members, are you ok with that?

[2015-10-08 19:36] gbaumgart commented on #75
or, you leave it to callbacks, thats one identifier less in code.

[2015-10-08 20:20] Lochemage commented on #64
@gbaumgart

Update, wcLayout is now a base class object for both wcLayoutSimple and wcLayoutTable and it is now theoretically possible to subclass your own layout type; although it has not been tested.

[2015-10-08 20:24] Lochemage commented on #76
@arpanmukherjee1

I agree with what @gbaumgart, it may be easier to continue with your second method where you do not really move the panel at all from it's current location, but just expand the layout so it fills the area. If you are trying to use a built in panel button as your restore button, this won't work since those buttons are outside of the layout (and on the frame that contains it). Sinc

[2015-10-08 20:35] Lochemage commented on #75
@gbaumgart

I was thinking something more along the lines of the options data you pass in when registering a panel, or even possibly when you create a docker instance (for globally used class names).

eg:
[code]

[2015-10-08 20:37] gbaumgart commented on #75
sure, that would do, but its just the half of the show, markup changes are needed as well :-( at least when adding stock themes which i want :-)

[2015-10-08 20:38] Lochemage commented on #75
@gbaumgart

Can you explain what exactly is meant by 'markup' changes, I don't understand.

[2015-10-08 20:41] gbaumgart commented on #75
html, bootstrap for instance wants different html tags (tabBar : ul/li ...)

[2015-10-08 20:46] Lochemage commented on #75
@gbaumgart

Hmm, I'm sure some limited customization can be done, but I'm sure this would prove complicated.

[2015-10-09 04:58] arpanmukherjee1 commented on #76
@Lochemage  and @gbaumgart  you are correct. I am only expanding the contents of the panel and add a button to the body that floats to the upper right corner.
The button is removed when the panel is restored.

[2015-10-09 04:58] #76 closed

[2015-10-09 08:13] Lochemage commented on #76
@arpanmukherjee1

If you would like, perhaps you can submit a pull request to have this feature added to docker for everyone?

[2015-10-09 10:01] arpanmukherjee1 commented on #76
@Lochemage
Ok. I will as soon as i can. Thanks.

[2015-10-09 10:01] gbaumgart commented on #75
ok, then I vote to simply extend your example for markup instead of css classes only:

myDocker.registerPanelType('panel type', {
  templates: {
   tabBar : $('<header class="wcFrameTitleBar">'),
   frame : $('<div class="wcFrame wcWide wcTall widget">')
  }
});

[2015-10-10 07:17] Lochemage commented on #37
@samogot

I've tried on both an iPad 1 and iPhone 5 and I do not have a problem losing focus when trying to edit an input field. Could you list me the devices you have tried and whether this problem still exists for you?

Thanks.

[2015-10-13 16:09] gbaumgart commented on #75
If you like, I can port (gets smaller) this over to wc/dcl: https://github.com/dojo/dijit/blob/master/_TemplatedMixin.js. That gives you something like this:

[code]

you see, that the _TemplatedMixin could also resolve elements into widgets by specifying the "data-dojo-type" attribute.

However, do as you like but I can tell you that the functionality of a little template engine is absolutely req

[2015-10-13 16:13] gbaumgart commented on #75
i can do the same also for Handlebars but its significantly bigger, also a combination of dojo's template functions and Handlebars is possible. I have do this for myself anyways now.

[2015-10-13 16:41] Lochemage commented on #75
@gbaumgart

Interesting, I think something along these lines will be useful. However, the elements that make up the layout have to be done in some very specific ways or else they won't work, because of this it might not be worth allowing the user to describe the element in full like `"<header class="wcFrameTitleBar">"`. There's too much room for user error (and it would require quite a bit of expl

[2015-10-13 20:34] gbaumgart commented on #75
"<header..." works btw. and enabled support for Bootstrap stock-themes.... There is also an edge-case where I have to add the class 'active' to a tab-button.

Ok, how about moving DOM generating stuff into a API method? Currently  I override __init calls just for that.

Btw, I am interested to integrate wcPlay (you got it right! data & flow terminals was a good choice, that ,made "Virtools" very g

[2015-10-14 13:22] gbaumgart opened #77 "docker::addPanel(....,options) not used"
on line 315 or so, its not using the argument options:

var panelOptions = (panelType.options && panelType.options.options) || {};

it should be

var panelOptions = (panelType.options && panelType.options.options) || options || {};

[2015-10-16 16:37] gbaumgart commented on #37
Same problem here, just set the focus in the chat-panel's input field and resize = focus lost after resize.

[2015-10-16 18:08] Lochemage commented on #37
@gbaumgart

When you say 'resize', do you mean you resized a splitter bar to change the size of the panel, or are you talking about some other resize that happens when you focus on an input field?

The problem @samogot was referring to is specifically how mobile devices auto-zoom closer to input fields when they are being edited.

[2015-10-16 18:10] gbaumgart commented on #37
ups, i am talking viewport resize (browser - window)
g

[2015-10-16 18:17] Lochemage commented on #37
@gbaumgart

Ah, in that case it makes sense, if you click the edges of the window to resize it, of course you lose focus with any input elements, you've clicked somewhere else :P

[2015-10-16 18:21] gbaumgart commented on #37
are you sure about? in all my other apps the focus stays where it is when resizing the the browser-window. I just checked, I don't have any extra magic there. You can test this with almost every website too...

[2015-10-16 18:24] gbaumgart commented on #37
yeah, document.activeElement remains the same after resize...

[2015-10-16 19:10] samogot commented on #37
i tested it on android. it don't auto zoom, but showing up a keyboard changes viewport size

[2015-10-16 20:10] gbaumgart commented on #37
i got little lost now :-) however, please keep the focus after resize; the chat panel example is perfect reproducible :-)

[2015-10-22 14:53] gbaumgart commented on #37
can you tell us where wcDocker is doing focus stuff when resizing? I really would love to fix it.

[2015-10-22 14:55] gbaumgart commented on #37
i checked all __focus function but none of them is called so far after resize.

[2015-10-22 17:10] gbaumgart commented on #37
ok, the only dirty solution seems to :

1. save document.activeElement
2. let docker do its resize
3. with a little timeout, restore document.activeElement to the last object before resize

I could trace back the blur to __updateTabs->panel::container....somewhere

[2015-10-22 17:59] Lochemage commented on #37
@gbaumgart

There shouldn't be anywhere that I am specifically changing focus except when using iFrames. My guess is that this is all because resizing causes many DOM elements to be moved which breaks element focus.

I believe this can be optimized so that resizing does not change the DOM, the only thing that needs it is when panels are docked to another location.

You're welcome to look into it,

[2015-10-22 19:08] gbaumgart commented on #37
ahhh, youre moving DOM on resize, thats why my custom iframes are gone after resize. so yes, I will look into that first.... thanks Jeff.
g

[2015-10-23 15:25] gbaumgart commented on #37
I tried to understand frame::updateTabs but no, I really don't know what to do there. Are you sure DOM must elements must be moved on resize ? However, this issue becomes critical now, til dropping wcDocker entirely. I use a lot iframes via document.write and they do disappear after resize (i really don't know why, its not your problem).

Do you have easier suggestions to trigger a resize without

[2015-10-23 16:26] gbaumgart commented on #37
or could you just confirm that resize with domChanges is not fixable anytime soon? All wheels stopped running here I and would love to know that this is a major problem....thank you!

[2015-10-23 19:22] Lochemage commented on #37
@gbaumgart

The only reason resize causes the DOM to change is simply because I had already written the update to do that (which is necessary when tabs change or when the panels are moved). I wanted to avoid writing multiple update methods, but now that this is causing a problem, it will have to be fixed. Fixing this should also improve performance as well.

[2015-10-23 19:31] gbaumgart commented on #37
ok. Actually I'd love get a little more active on internals (there is plenty I'd love clean or change). If you would be ok with lodash(amd) or underscore being a dependency, we could get the code pretty smaller and way more clean/expressive.

The other thing is, where do you want have wcDocker test units placed ? They should be usually in src/tests, or in your case Code/tests (around 20+ files). I

[2015-10-23 20:36] Lochemage commented on #37
@gbaumgart

I'm okay with introducing lodash, it looks a lot like underscore but with amd.

Unit tests would be really good to have, Code/tests sounds pretty standard, I would also like to include coverage as well. I only know how to do these things using Node.js on server side architecture, so I could use your help with this.

[2015-10-27 19:13] gbaumgart opened #78 "a few questions regarding unit-tests"
Hi,
I am on it and 2 burning questions came up:

1. how do I fully & cleanly destroy a docker instance ? __destroy is missing and clear doesn't seem to remove all event handles.
2. how can I programmatically move panels into layouts? ie: we 2 tabs : "A" and "B" and I want to call something like A.addPanel(direction|position as in panel options during panel creation). Possibly I missed something in

[2015-10-27 19:47] Lochemage commented on #78
@gbaumgart

Good question, destroying the docker instance hasn't really come up before so it's likely that it just does not exist.

You should be able to move a panel by using `wcDocker.movePanel()`. I'm not entirely sure what you mean by the tabs, but that function should allow you to do anything you need.

[2015-10-27 20:03] gbaumgart commented on #78
ok, thanks!
that means:

1. add as first event related functions in wcDocker/base: to collect event handles. that was missing anyways (because $('body').off() won't do it). So docker::destroy will remove that handles.
2. fine, that should do.

ok, will push a PR this week about.
g

[2015-10-27 20:05] gbaumgart commented on #78
about events: i would add this here to base : https://github.com/gbaumgart/xbox-app-orginal-dump/blob/master/client/src/lib/xide/mixins/EventedMixin.js (slightly modified/optimized).

[2015-10-27 20:30] gbaumgart commented on #78
or what about a wcCore package ?

[2015-10-28 13:21] gbaumgart commented on #78
ok, never mind. i wrote some little code to collect all that $('body').on handles and implemented docker::__destroy :

1. call off for all body handles
2. clear the this._updateId timeout loop
3. clear all handles in _events
4. delete and null out all properties in docker

is there anything else I should do to clear a docker instance ?

I will put this now together with the lodash dep in a PR for

[2015-10-28 17:40] Lochemage commented on #78
@gbaumgart

Are you sure we need to manage jQuery events? I'm pretty sure jQuery cleans them up itself, if you remove the DOM element tied to an event, it should automatically unbind itself.

[2015-10-28 18:11] gbaumgart commented on #78
Only if you're listening to body events, those event handlers remain active. (I do create lots of wcDocker instances and I need them to properly to shutdown)

[2015-10-28 18:15] gbaumgart commented on #78
thats how currently do it in a docker subclass:

[code]

[2015-10-28 18:55] Lochemage commented on #78
@gbaumgart

ah, I understand. You're right.

[2015-10-28 21:30] phfatmonkey opened #79 "EVENT.INIT and EVENT.LOADED not triggering on page refresh"
Issue:

A panel doesn't call the Init function when the page is refreshed. If the panel in question is auto-loaded from the last configuration, the Init function isn't called. It is called, however, when the panel is closed and reopened. Also, the LOADED event seems to do the same thing. Code below:

[code]
Is this not working as expected or is there another event I should be using in this case?

[2015-10-28 22:37] Lochemage commented on #79
@phfatmonkey

Hmm, sounds like it is just not working as it should, I will look into this.

Thanks!

[2015-10-28 23:47] Lochemage commented on #79
@phfatmonkey

I'll need some more information about this, I've tried using `wcDocker.restore()` with a pre-made configuration and I've gotten both the global `wcDocker` `loaded` event as well as an individual panels `init` and `loaded` events triggered as it should.

Perhaps this could be related to where you are calling your `restore`?

[2015-10-29 15:48] phfatmonkey commented on #79
Hmm, now I can't seem to reproduce this. I restarted my server a second time and now it's triggering the INIT and LOADED events.

Close this issue for now and I'll keep an eye on it.

Thanks for looking into it.

[2015-10-29 15:48] #79 closed

[2015-10-29 19:37] Lochemage commented on #79
@phfatmonkey

I'm glad it's working out!

Also good to hear from you Ryan, haven't seen you in a while! How are things going?  What kind of project are you making with wcDocker?

[2015-11-01 23:54] Lochemage commented on #77
@gbaumgart

Actually the code you see is not a bug, the options passed into the `addPanel` method is different than the one used to construct the panel object itself. This is actually a bug in the documentation, because the two options should be different.

[2015-11-02 01:33] #77 closed

[2015-11-02 10:40] gbaumgart commented on #77
ok, just to let know. my 'fix' enables to register a panel sometime but alter it later with addPanel.  something i do quite often.

[2015-11-02 17:18] Lochemage commented on #77
@gbaumgart

I'm not sure this makes sense to allow panel construct options during the `addPanel`. The only way to include options during the addPanel is if it was hard coded, but this is not the case if the user dynamically adds the panel themselves (via right click, add panel menu). The idea is that all of the constructor options are pre-defined when the panel type is registered so that any time

[2015-11-02 17:27] gbaumgart commented on #77
okok. I've got my own context menu and my own persistence solution....
ok never mind, i will add the fix in my panel class. most of the cases, I do only register a few panel types: 'default tab', 'default fixed' and so on. later on i usually do add a panel of that type, but I do change title, icon and a few other things, that's why the option argument should be evaluated over the panel-type option

[2015-11-02 17:49] Lochemage commented on #77
@gbaumgart

Just FYI, you can change the registered panel options dynamically any time through code with [`wcDocker.panelTypeInfo()`](http://docker.api.webcabin.org/module-wcDocker.html#toc21)

[code]

[2015-11-02 18:01] gbaumgart commented on #77
yeah, got it but its really not the same effect, just more code compared to "|| options". never mind and thanks for the heads up

[2015-11-02 19:09] Lochemage commented on #77
@gbaumgart

I understand it may be inconvenient, it's just that the options passed into `addPanel` is used for something else and has its own definition of properties, which means it not necessarily compatible with the options passed into the panel's constructor.  Also, simply using an `||` operator means that your options will only be used if the panel was not registered with any for itself. The

[2015-11-02 21:31] gbaumgart commented on #77
ok, will try that! thanks Jeff.

any news about wcCore ? otherwise i really just do all just in
wcDocker/_Evented : on/emit/own(track global handlers)
wcDocker/_Func : debounce/eventify etc...
wcDocker/_ContainsWidgets : own(track widgets and destroy/null them automatically)

 g

[2015-11-03 00:10] Lochemage commented on #77
@gbaumgart

Could you remind me what you mean by wcCore?  Is this different than wcDocker's base class that exists now wcBase?

[2015-11-03 01:29] gbaumgart commented on #77
ahm, can't remember right now but yeah, that's pretty much the plan for me. that would also enable to 'shim' some parts away to other libraries. Somehow the idea was also to get closer to wcDocker internals and to some degree enable me to do optimizations or changes. What troubles me most is that the eventing/callback part is messing lots of pure functional code and I hope to use dcl's AOP feature

[2015-11-03 22:28] gbaumgart commented on #78
I remember now, wcCore was needed to get rid of this sort of code. As mentioned, I gonna get my hands soon on wcDocker. And I think events, shims and widget handling should go in there. Most attractive ideals seem to be in https://github.com/ibm-js/delite and https://github.com/ibm-js/decor. it has already dcl...

So, what you think, does a wcCore makes sense to you too? I'd just type something to

[2015-11-03 22:30] gbaumgart commented on #78
ups, i meant wcPlay, sorry...being sick here

[2015-11-03 23:23] gbaumgart commented on #78
that's what i have to do at work,
http://pearls-media.com/screenshots/Screenshots.html

:-)

[2015-11-03 23:23] #78 closed

[2015-11-05 05:20] Lochemage commented on #66
@KarolKolenda

I know it has been some time, but I have changed how resizing works. It will now uniformly resize all panels in relation to the browser size rather than only making the panel to the far right or bottom change its size alone.

[2015-11-05 07:33] FamularoA opened #80 "Using Docker with Angularjs"
Hello Jeff,

We are building a Single Page Application with Angularjs 1.4.7.

Have you some suggestions how we can to use your library with Angular.

I am thinking about the event propagation.

Regards,
Alexander

[2015-11-05 09:36] KarolKolenda commented on #66
@Lochemage Thank you Jeff - much appreciated. I will be able to remove my clunky workaround. I was using your library for quite some time now and it is really good - and to be honest one of the kind as the other "alternatives" do not come even close to wcDocker feature set or stability - great work.

[2015-11-05 16:25] phfatmonkey commented on #80
Hi, @FamularoA. Our team is using AngularJS with wcDocker. Without knowing exactly what your use case is, it's hard to give you specifics, but we find it's fairly simple to integrate them. Each docker panel is it's own Angular directive.

As for events (I assume you mean wcDocker events), I has some issues of EVENT.INIT and EVENT.LOADED getting called before the directive was loaded, so I had to h

[2015-11-05 18:13] gbaumgart commented on #66
@Lochemage it would be great if you don't emit resize-events or do resiz ops when the target dimensions are rather garbage (some times h=0 or w=0, or for some reasons h=100|w=100). It took me quite a while to figure that out.

[2015-11-05 19:36] Lochemage commented on #66
@gbaumgart

I would need some reliable reproduction case for this, how do you know zero or 100 width or height is actually not valid?

[2015-11-05 19:49] gbaumgart commented on #66
You just need to listen for resize events, then check panel._actualSize and you will see. My guess is that this weird numbers popup since you detach it from the dom during resize. This numbers come when you switch tabs for instance, or just stretch/move the browser window around.

It took me many weeks of very frustrating fighting! I was really happy today to figure out that the panel size can go

[2015-11-05 20:26] Lochemage commented on #66
@gbaumgart

I see, will have to investigate when I have a chance.

[2015-11-05 22:14] gbaumgart commented on #66
great! is there a prefered time you'd like to have the next PR? its adding lodash and some stuff in base, for cleanups, events and testing. sorry for posting on the wrong post ;-)

[2015-11-05 23:13] Lochemage commented on #66
@gbaumgart

Probably sooner rather than later, I assume the introduction of lodash changes a lot of code all over the library. It's better that gets in before I make too many more changes. It is also going to require a lot of testing first before I am comfortable merging it in.

[2015-11-05 23:16] gbaumgart commented on #66
@Lochemage ok, then its easy, one PR for just the dependencies and! some boiler code in code/tests and the PR after is then about unit-tests. alright, deal :-)

[2015-11-10 19:02] gbaumgart commented on #78
ok, new PR opened! its really just adding test-units and lodash. I will do investigate as next the entire code in order to find improvements; then implement changes/proposals regarding lodash/performance/API/dcl pimps as test-units first (for your review).

[2015-11-10 22:21] gbaumgart opened #82 "tab - bar text - rotation"
hi,
I know you are very busy and I don't want to bother you too much. I am trying to get a PR together which enables any Bootstrap (3-4) themes to be applied to wcDocker. The problem is that the entire tab bar is rotated and not just the text. After a few hours I gave up since there seem to be some calculations involved which are based on your CSS, making it rotated.

![image](https://cloud.github

[2015-12-05 21:35] azeyad commented on #80
@phfatmonkey, is it possible that you provide a plunker sample for such integration with angularjs?

[2015-12-11 10:05] asheshv opened #83 "Default menu on input control does not work"
Default menu of an input control does not work when enabled the docker menu.

[2015-12-14 22:55] azeyad opened #84 "Is it possible to disable the context menu that shows up on right click?"

[2015-12-14 23:03] gbaumgart commented on #84
yes, please see demo sources,

just add allowContextMenu:false in your options.

[2015-12-14 23:09] Lochemage commented on #84
@azeyad

Yes, as @gbaumgart says, it can be disabled.  Please close this ticket if this suits your needs.

Thanks

[2015-12-14 23:17] Lochemage commented on #83
@asheshv

That is correct, what I meant by **"default"** is not the true default menu options you would see built into the browser, but rather the default menu options you normally see provided by `wcDocker`. For example, **"Remove Panel"** or **"Add Panel"**.

I currently do not know how to re-implement browser commands like copy, paste, etc. I'm not even sure if it is possible.

[2015-12-14 23:20] Lochemage commented on #83
@asheshv

If it is absolutely necessary that you have the browsers default menu, you can try using `wcDocker.bypassMenu()`. The definition can be found here: http://docker.api.webcabin.org/module-wcDocker.html#toc12

[2015-12-14 23:27] Lochemage commented on #82
@gbaumgart

I apologize for not responding to this one, it was easier to rotate the entire bar since a lot of the same code could simply be re-used. I see two potential solutions in this case, the first would be to re-factor the tab system with a separate version for each location, and the second would be to add a wcDocker option that simply disables tab orientations.

[2015-12-14 23:36] Lochemage commented on #76
@arpanmukherjee1

Just wanted to touch base with you, is this something you still plan to pull into the project?

Thanks

[2015-12-14 23:41] azeyad commented on #84
Thanks a lot guys

[2015-12-14 23:41] #84 closed

[2015-12-15 13:23] gbaumgart commented on #82
Thanks, I will look into it;
but hey, no worry; its bloody christmas time ;-)

[2015-12-15 14:57] ryanlin1986 opened #85 "Is there a release date for v3.0?"
This library is great I really like to use this lib in production, since there is a lot of changes in v3.0, I guess I will wait for v3.0 to be released. Is there a release date or roadmap?

[2015-12-15 16:35] gbaumgart commented on #76
Hey, after a while I finally also implemented a sort of 'maximize' function on panels.  Its still little incomplete but works out well for me: https://gist.github.com/gbaumgart/d4bcf64a2402c4f5a013 . I use this for simple cases where i just want to to hide some panels entirely (ie: a property view). You could easily extend this for maximizing panels completely (multiple wcFrames)

ps: didn't test

[2015-12-19 14:01] azeyad opened #86 "Is there any way to intercept a panel's event, and cancel it if needed?"
For example the EVENT.CLOSED, I want to be able to cancel it from the event handler function, like asking the user if he really wants to close the panel and in case he answered no I want to mark the event as handled without actually closing the panel

[2015-12-19 21:25] gbaumgart commented on #86
@Lochemage : i tried overriding wcPanel::close but it wasn't called when hitting the close button. otherwise it would have been an easy piece

[2015-12-20 12:23] Lochemage commented on #86
@azeyad

Currently, there is no feature like this; by the time you receive the close event, it is already too late. I'll need to investigate the best way to implement this, but it most likely will require you to change a value passed in to the event handler:

[code]

This will probably get a little more complicated if your confirmation box does not block the thread. Here we assume a function `show

[2015-12-20 13:01] azeyad commented on #86
@Lochemage: Thanks a lot for your response and yes this is what I am looking for, I think this is somehow similar to the windows forms events I used to deal with in the past.

[2015-12-20 13:01] gbaumgart commented on #86
yeah, i would also love to see the events functions improved:
I am using this here (returns handlers result)
[code]

[2015-12-20 19:09] Lochemage commented on #86
@gbaumgart

I would like to do a simple return value as well, the only problem with it is what to do if you have multiple event handlers all returning their own result.  In your solution above, it seems you simply use the latest event's result that is not empty and ignore all others.  I don't quite like the idea of losing potentially important event results like that, so I think what I will do is

[2015-12-20 20:08] Lochemage commented on #86
@azeyad, @gbaumgart

Alright, I have implemented it, but it ended up being a little different than the above. It occurred to me that, in some cases, as soon as `wcDocker.EVENT.CLOSED` has been triggered, things may be unloaded. For example, the `wcIFrame` object ties directly into it's owner panels' closed event, as soon as it is triggered, it will shut down and remove the frame. The solution was

[2015-12-20 20:10] gbaumgart commented on #86
:+1: thanks!

[2015-12-20 20:17] Lochemage commented on #86
Also note, the return value for the events can now be used for other things, as well as your own private events you may be using. All result values are returned from `wcDocker.trigger` and `wcPanel.trigger` as an array of values.

[2015-12-20 20:50] gbaumgart commented on #86
but yeah, it would be great if you/we can add an "off" for these events, also clean them really on destroy. (same goes for the global events in wcDocker it self as already mentioned); but never mind, i got this all done in my version. In Dojo you get actually a handle(as shown) back when subscribing to events, this makes reusing of widgets possible for instance but also ensures all gets wiped prop

[2015-12-22 00:44] azeyad commented on #86
@Lochemage: I just wanted to thank you for the quick turnaround, the fix would work for me but I still did not try yet, I couldn't see the new event in the documentation though, but I am closing the issue anyway.

[2015-12-22 00:44] #86 closed

[2015-12-22 16:11] Lochemage commented on #86
@azeyad:

Most likely, you're looking at an old cashed version of the API doc page. Try clearing your browser cache and view again.

[2015-12-28 12:11] azeyad opened #87 "[Suggestion] Add ability to lock/unlock layout changes."
Assume there is a scenario where changing the layout is allowed for the admin users only(or for any given user with a certain type of privilege) and in case the logged user is not authorized for such action I need a way to disable dragging panels around and changing the layout.

This can be even better if I can disable/enable layout changes at runtime after the page has been loaded,  but I am not

[2015-12-28 12:43] ryanlin1986 commented on #87
+1 for this.

[2015-12-28 17:02] gbaumgart commented on #87
i think traversing over all panels and setting movable & collapsible to false should do the trick. You need a snippet for this ?

[2015-12-28 19:15] azeyad commented on #87
@gbaumgart: I was thinking that having these properties on the main wcDocker window so that whenever we set them they apply on all child panels is more intuitive,  also after the page has been loaded, setting these properties at runtime should notify the child panels so they can set the movable & collapsible properties correspondingly.

[2015-12-28 19:52] gbaumgart commented on #87
yeah, i understand but i think it would be little/unneeded bloat. I think its easier to subclass wcDocker and add two functions lock/unlock there (which could be called automatically after the options are parsed). I can post such code here if you like. Its really no biggy to do.

[2015-12-28 22:44] Spannella commented on #80
I am interested in this too. I am looking to use wcDocker with Polymer. I would be interested in working on a tiny example with someone if they are interested.

[2015-12-29 00:59] gbaumgart commented on #80
In Polymer & Web-Components I am also interested, since wcDocker is using now 'dcl', you can use
good examples in the 'ibm-js/deitful' repository. They do have also custom Grunt steps for building dcl based modules into angular apps. I am btw. around 2 months away from having wcDocker rendered via CustomHTMLElements(for targeting web-components, using conecpts from ibm-js/delite and decor) accordi

[2015-12-29 01:23] Lochemage commented on #87
@azeyad

I'm not against putting in some simple locking options that are docker wide such as disabling all panel movement. Does disabling panel re-sizing make sense as well (not sure if anyone would actually need that)?

[2015-12-29 10:46] azeyad commented on #87
@Lochemage
In my opinion we just need to disable panels dragging and closing functionalities, but not sure if there are other scenarios where disable re-sizing is going to be useful.

[2015-12-29 11:22] azeyad commented on #80
I am not sure if this can help, but here is what I can imagine for an integration with AngularJS:

1- Inside the controller's template of any given state inside the APP, we can put a single HTML element that holds a directive for the wcdocker logic(let's name it: **stateOneMainPanel**)

2- Within the **stateOneMainPanel** directive's link function we can create the wcdocker instance and start regi

[2015-12-29 18:42] gbaumgart commented on #80
@Lochemage I've prepared a jsFiddle for working on wcDocker (debug-version)  [here](https://jsfiddle.net/mc007ibi/0u5sn9xu/2/)

[2016-01-04 17:09] phfatmonkey commented on #80
@gbaumgart @azeyad Thanks for looking into this. I didn't do the initial integration in our project and the programmers  weren't in a good position to provide a plunker sample. I'm glad you got it working. :)

[2016-01-07 14:04] gbaumgart opened #88 "Create ghost from non-wcDocker elements?"
Hi Jeff, I hope you had a nice new year!

Might it be possible to turn non-wcDocker elements into wcGhosts and when dropped to add a panel to the wcDocker instance? Its a little hard to explain, so here a picture:

The accordion tabs on the right ( "Script") are non-wcDocker & ordinary HTML elements. I am looking for an idea to turn them into a wcGhost as soon I start dragging them. I don't expect

[2016-01-07 17:33] Lochemage commented on #88
@gbaumgart

Excellent idea!  In fact, good news, this feature already exists! Take a look at the tutorial page: http://docker.api.webcabin.org/tutorial-2.0-tips-and-tricks.html#toc8

Simply add the CSS class `"wcCreatePanel"` to any HTML element along with the data attribute `data-panel` that names the panel to create, and any time the user clicks and drags that element, it will act as though you

[2016-01-07 17:51] gbaumgart commented on #88
that's just fecking awesome, Thanks Jeff! I didn't test it yet but I guess that will do! I will let you know how it goes. Shall we close this now?

[2016-01-07 18:25] gbaumgart commented on #88
Yes, that works! The only problem is that its creating 2 panels:
![image](https://cloud.githubusercontent.com/assets/1205100/12178761/80ceab5e-b573-11e5-9dc6-769fb3fae105.png)

This is is because there are indeed 2 dockers in the scene. I will check the sources to figure out:

- how to add a callback to avoid multiple panel creation
- using the source node: $toggleNode.data('panel', 'DefaultTab')

[2016-01-07 18:39] Lochemage commented on #88
@gbaumgart

Ahh, that makes sense, I never really use more than one docker.  When you create these panels, could they be dropped into both docker areas? I may have an idea to solve this, but I just started my day at work so I won't get to it until late tonight at the soonest.

[2016-01-07 18:51] gbaumgart commented on #88
Yeah, actually it depends on the case, some times I want to move one panel (created with wcCreatePanel) to another docker or limit it to the originating docker. I already have an idea to avoid those duplicates:
in the wcDocker/docker module, there should be a singleton object for events which make only sense once (exactly like wcCreatePanel). This singleton object should collect all instances.

Ho

[2016-01-07 18:55] gbaumgart commented on #88
@offtopic btw: if you want to see wcDocker in one of my [apps](https://github.com/gbaumgart/xamiro/tree/2.0). Its currently alpha but will serve as base for full featured IDE for home-automation...

[2016-01-07 22:40] Lochemage commented on #88
@gbaumgart

In that case, perhaps it is best since you are directly using this, I will hold on this and leave it up to you!  I look forward to what you come up with!

[2016-01-07 22:41] Lochemage commented on #88
@gbaumgart

Also, I meant to ask this before, but I keep forgetting... I like the screenshot or your interface, have you had any thought on sharing the theme?

[2016-01-07 23:03] gbaumgart commented on #88
yeah, thought soo too. its getting too custom anyways,

theme: the base is here: https://github.com/gbaumgart/bootrap-light-blue-admin-theme. and the overlay for wcDocker comes later, its not quite finish yet (tab rotation). i will let you know
g

[2016-01-08 23:03] gbaumgart commented on #88
@Lochemage. About the theme again: I got the tab-bar rotation problem fixed but I don't know how to deploy a regular wcDocker theme from it since its all SASS & Bootstrap based. If you like we could discuss this in another thread. Up to you. There are also slight changes in the code needed. In fact there is little left from styles.css and themes/theme.css. Extracting the classes manually would do

[2016-02-17 12:07] arpanmukherjee1 opened #89 "Ability to redock panel to original location"
@Lochemage
When a collapsed panel is undocked it looses its original position (from where it was collapsed).
Is there a way to make it appear at the same location if rest of the panels are unchanged?

[2016-02-18 21:58] Lochemage commented on #89
@arpanmukherjee1

It's possible to implement a feature like this, but I wonder how useful it would be if it only worked when no other changes were made.

A simple implementation could be to use the built in layout save/restore feature. Save layout right before the user docks the panel from it's original location, then you could restore the entire layout whenever you want (eg by adding a panel butt

[2016-02-19 13:37] arpanmukherjee1 commented on #89
@Lochemage

By no other changes, I meant that the location of the panel must remain same as long as the surrounding panels exist when the panel is redocked, even when the layout is resized. If any of the surrounding panels change(added/closed) the current behavior works fine.

Yes, I thought about implementing the save/restore method but the floating panels are recreated (non-persistent) when the

[2016-02-19 17:12] Lochemage commented on #89
@arpanmukherjee1

Alright, I have an idea that may get you started. Docker's layout is rather simplistic, any filled in area can either be a panel, or a splitter. A splitter can only split an area into two halves, either horizontally or vertically, and can contain either a panel or another splitter in each side.  Whenever the user moves a panel, it will essentially cause it's parent splitter to be

[2016-02-23 05:19] arpanmukherjee1 commented on #89
@Lochemage

You are correct that in some cases the behavior will be non-intuitive.
Considering your view, I may not implementing this feature now. But will look out for some way that makes the UX better.

Will try to implement your solution.

Closing this for now. Will re-open when I come up with something.

Thanks.

[2016-02-23 05:19] #89 closed

[2016-02-23 09:27] lomotelsch opened #90 "Restore layout and rebuild content"
Hi Jeff,

I need to save and restore layouts.
Therefore I need to restore every panel-content after restoring the layout since all panels got destroyed and recreated using wcDocker.restore(layout).

Maybe I misunderstand the concept of registering and adding panels, so let´s recap:
(I basically used your tutorial at http://docker.api.webcabin.org/tutorial-1.0-getting-started.html)

**wcDocker.regi

[2016-02-23 11:39] gbaumgart commented on #90
you can introduce a little widget infrastructure (add/remove) which implements a simple interface for restore & save (recursive). a widget typically adds its 'states' to the chunks being request by its parents.... can take a while to get it like that.

[2016-02-23 11:52] lomotelsch commented on #90
The thing is, when restoring the layout, I have no pointer to the content the panel contains before restoring expect the panel-type. If you have a look at the json which gets created by saving the layout, the only property i can bind to is the panel-type-property ("main-panel", "child-panel"), which is to static:

[code]

The customData-property is not obviously accessible.
Any ideas?

[2016-02-23 11:58] gbaumgart commented on #90
you're sure? this works for me:

panel.on(...RESTORE_LAYOUT, function (customData) {

 //call custom panel method:
 panel.onRestoreLayout({
   data:customData,
   panel:panel
 });

I subscribe to that even in onCreate.

[2016-02-23 14:08] lomotelsch commented on #90
ok, got it ...
trying now to wrap wcDocker with some content-restore-logic..
Thank you!

[2016-02-23 14:08] #90 closed

[2016-02-23 19:03] Lochemage commented on #90
@lomotelsch

You can also subscribe to the save layout event, in which you can supply your own custom values to the data.

[code]

Then later when the panel is restored, you can read that data:

[code]

[2016-02-25 16:00] lomotelsch opened #91 "Can a panel be marked as "non-floatable"?"
the headline says it all.
Can I either deactivate globally floating or selective per panel?

[2016-02-26 20:25] Lochemage commented on #91
@lomotelsch

Unfortunately, a feature like this does not exist. I did not implement it because it somewhat goes against my original plan for the system. The idea is that it should be mostly up to the user to determine whether they want a panel docked or floating; For the most part, you, as the programmer of these panels, should not really care how a user might want to organize their view. There ar

[2016-02-29 08:30] lomotelsch commented on #91
Hi Jeff,

it´s a requirement for the app we build  - that´s why i´m asking.
On the other hand it´s forcing a bug wenn you have a floating panel and drag all other panel into this one.
On dragging the very last panel into the floating one, wcDocker crashes with this:
"WARNING: wcDocker creating placeholder panel when one already exists"

[2016-02-29 11:06] lomotelsch opened #92 "browser-crash when dragging last panel into a floating one"
as the headline describes, have a look at the video:
https://youtu.be/vi0rKS3hMJY

[2016-02-29 11:42] AFamularo-lomoSoft opened #93 "Adding the last panel in a floating panel cause crash (infinity loop)"
Hello Jeff,

I'm college of lomotelch, we work together on a project.

Scenario:
- We have a main panel with a table. This table contains customer (e.g.). The user can double click one customer row to open a new panel to edit/view the customer data.

Steps:
- Load the page
- Double click on one row with CustomerID "VICTE"
- A new detail view will open as a stacked panel (parent: Overview)
- Move t

[2016-02-29 11:55] Lochemage commented on #92
@lomotelsch

Thanks for finding this, I'l look into it a soon as I can!

[2016-02-29 12:00] Lochemage commented on #93
@AFamularo-lomoSoft

Thanks, I believe I understand why this is happening. I should be able to fix it later tonight, after I get home from work!

[2016-02-29 12:07] Lochemage commented on #91
@lomotelsch

I'll go ahead and see what I can do about disabling floating panels. It should be relatively easy to add something like a `wcPanel.canFloat()` method.

[2016-02-29 12:17] AFamularo-lomoSoft opened #94 "Using moveable(false) cause that the panel will not renderd with 100% height"
Hello Jeff,

Scenario:
- We want a fixed panel to give the user a "calm" experience - a safe location where a new detail panel will appear.

Steps:
- Load the page
- (You find the code in the file LomoDocker.js / Line 32)

moveable = true
![moveable set to true](https://cloud.githubusercontent.com/assets/16336315/13394105/521b4596-dee6-11e5-968f-ca84ff5fffb6.png)

moveable= false
![moveable set to

[2016-02-29 12:32] AFamularo-lomoSoft opened #95 "Using moveable(false) cause that a other panel can not be stacked"
Hello Jeff,

Scenario:
-This in mind (We want a fixed panel to give the user a "calm" experience - a safe location where a new detail panel will appear.)
-The user wants to compare two rows. He moves on the panel to the right
-After he has finished this task he want to stack the panel back to the overview

Steps:
-One detail panel is moved to the right
![detail panel beside](https://cloud.githubus

[2016-03-01 04:12] Lochemage commented on #94
@AFamularo-lomoSoft

I know why this is happening, it is a side effect of non-moveable panels.  The problem is that non-moveable panels can also NOT be a drop target for other panels (the very act of docking a panel into another, moves both panels). Whenever your layout does not contain any valid drop targets, or moveable panels, a placeholder panel is introduced and automatically added to the lay

[2016-03-01 04:39] Lochemage commented on #95
@AFamularo-lomoSoft

Just guessing without looking at your code, your Overview panel is non-moveable while your others are.  Non-moveable panels can not be a target to drop other panels because the very act causes both panels to move. Since one of your two panels can not move, it therefore can not be a drop target.

I do not restrict you from programmatically tabbing moveable with non-moveable pan

[2016-03-01 08:09] Lochemage commented on #92
@lomotelsch

This issue should be fixed now, please let me know if you find anything else.

[2016-03-01 08:09] #92 closed

[2016-03-01 08:10] Lochemage commented on #93
@AFamularo-lomoSoft

This issue should be fixed now, please let me know if you find anything else.

[2016-03-01 08:10] #93 closed

[2016-03-01 09:23] Lochemage commented on #91
@lomotelsch

I've added a new method, `wcPanel.detachable()` (doc here: http://docker.api.webcabin.org/module-wcPanel.html#toc8) that you can use to disable a panels ability to be detached into a floating state.

Let me know if this works for you.

[2016-03-01 12:40] AFamularo-lomoSoft commented on #91
Thank you, this is working fine :-)

[2016-03-07 09:58] lomotelsch commented on #91
perfect, thanks

[2016-03-07 10:40] #91 closed

[2016-03-07 10:43] lomotelsch opened #96 "when moving last tab away, the space for the tabbar still exists"
as the video shows ;-)
https://youtu.be/ZfYWhf1a-QM

Testet in osx chrome & firefox

[2016-03-07 13:45] gbaumgart opened #97 "split programmatically?"
Hi,
I am having a little difficult time to implement some generic user-actions like "Split-Horizontal/Vertical" on an existing frame with multiple tabs. Problem is that unfortunately most of the docking code is within mouse handlers and its little hard to understand since it also depends on a dragging object. I think its a general problem with wcDocker that this quit important functions are not wr

[2016-03-07 13:51] gbaumgart commented on #97
after that, I am actually ready to release some wcDocker [extras](https://gitlab.com/xamiro/xdocker), together with the used themes. It would be an extra package you can add in top of wcDocker. It has a quite few extra dependencies then of course.

[2016-03-08 09:59] lomotelsch opened #98 "setup breaks layout"
imagine this simple layout:

[code]

which breaks the layout until the next resize-event:

![bildschirmfoto 2016-03-08 um 10 58 04](https://cloud.githubusercontent.com/assets/17064071/13598172/c0cba58a-e51c-11e5-8592-7920fe082fbb.png)

[2016-03-08 10:33] lomotelsch opened #99 "height-option is not recognized"
[code]

![bildschirmfoto 2016-03-08 um 11 32 14](https://cloud.githubusercontent.com/assets/17064071/13599060/72fae190-e521-11e5-8220-2df145a4dc6a.png)

Am I doing something wrong?

[2016-03-08 12:42] Lochemage commented on #98
@lomotelsch

Hmm, are you sure you aren't missing anything?  I've tried the code above and it works fine for me on all windows browsers.  Which one are you using?

[2016-03-08 13:03] lomotelsch commented on #98
@Lochemage
ok - all good.
I had a container around wcDocker which had no height while instantiating wcDocker..

[2016-03-08 13:14] lomotelsch commented on #99
this is a duplicate 0f #98

[2016-03-08 14:36] lomotelsch opened #100 "strange behaviour when saving/restoring layut"
basically I have save/restore-buttons outside & inside wcDocker.
By restoring the layout fro the outside buttons, the z-indexing of the floating panel gets weird.
When I use the buttons created inside a panel, everything works ok:
https://youtu.be/TCm7iaBMuqA

The save/restore-functions for both button-sets are identically the same.
Do you have a clou whats going on there?

[code]

[2016-03-08 14:53] #97 closed

[2016-03-08 15:54] lomotelsch commented on #100
similar here when you have tabbed panels:
https://youtu.be/pZk5zauwG-Q

[2016-03-08 23:06] Lochemage commented on #100
@lomotelsch

Thanks, I am seeing this one and will look into it soon.

[2016-03-08 23:14] Lochemage commented on #97
@gbaumgart

Did you mean to close this issue?  It seems like it hasn't been addressed.

I suppose the project is due for some code cleanup, I'll see what I can do to extrapolate some of the more useful functionality.

For reference, if I am understanding you correctly, you want to be able to create your own menu item that can split a two or more tabbed frame into two separate panels. The same as i

[2016-03-08 23:19] Lochemage commented on #97
@gbaumgart

Also, unless I am understanding you wrong, this might be what you want: http://docker.api.webcabin.org/module-wcDocker.html#toc18

`wcDocker.movePanel` should allow you to move one of the two tabbed panels and dock it next to the original. It just requires the two wcPanel objects, then you can set the location to `wcDocker.DOCK.LEFT` or whatever to automatically generate a split betwee

[2016-03-08 23:31] Lochemage commented on #98
@lomotelsch

I'm glad you were able to figure this one out. I may be able to shed some light on why not applying a height might make it work.  By default, splitter windows are set to split 50% (they store the position as a percent). However, when you assign a size override, internally it first converts your input value into a pixel size for calculation. If at that moment, the height of the contain

[2016-03-08 23:33] Lochemage commented on #99
Closing as duplicate

[2016-03-08 23:33] #99 closed

[2016-03-08 23:34] gbaumgart commented on #97
@Lochemage , yeah, figured that out now too ;-)

[2016-03-09 10:22] lomotelsch opened #101 "elements in css should better be namespaced"
He Jeff,

I saw, that in your css, some styles are applied globally to some elements:

**wcDocker.css**
496: .fa-menu
501: .context-menu-submenu:after
621: .fa-pulse

**Themes/default.css**
156-173: .context-menu-*
196: input
201: select
205-232: button

With maintenance and scalibilty in mind, it would be nice to see these namespaced/wrapped with a _.wcDocker_-class or something, to bypass the ne

[2016-03-09 10:32] lomotelsch commented on #98
I like the idea of having a warning or other type of hint when the height is 0px

[2016-03-09 11:30] lomotelsch opened #102 "can a theme-css be aggregated into a minified css?"
Hi Jeff,

as I read in your tutorial, a theme-path is needed when instantiating wcDocker to load the theme:

Can the theme also be included in an aggregated stylesheet anyhow?

Thanks

[2016-03-09 12:08] lomotelsch opened #103 "does wcDocker have a destroy-function?"
A destroy-function is not documented, so is there a way to free memory after removing it?
Thanks, Sebastian

[2016-03-09 22:54] Lochemage commented on #102
@lomotelsch

I'm not familiar with the term aggregated stylesheet, so I can't really confirm or deny whether that would work.  Would you mind learning me?

[2016-03-09 23:23] Lochemage commented on #103
@lomotelsch

If you are talking about destroying a panel, `wcDocker.removePanel()` should be used for that:
http://docker.api.webcabin.org/module-wcDocker.html#toc24

However, if you have specific things you would need to clean up while your panel is being destroyed, you should register the following event handlers for it: `wcDocker.EVENT.CLOSING` and/or `wcDocker.EVENT.CLOSED`.  One happens befor

[2016-03-09 23:54] AFamularo-lomoSoft commented on #103
Hello Jeff,

My colleague has missed to describe the scenario.

We build a Single Page Application with Angular. We have several modules with different content.

When the user switch from one module to another, angular, for been precise the ui-router will remove the docker-directive and create a new instance.

In the docker-directive we will watch the directive destroy event. When this event occur

[2016-03-10 00:01] AFamularo-lomoSoft commented on #102
Hello Jeff,

What my colleagues mentioned is the bundling of separate css files into one css file (min.).

We have several css file for our SPA application. For the deployment we want to bundle this separated files into one minimized file.

Best,
Alexander

[2016-03-10 00:32] Lochemage commented on #103
@AFamularo-lomoSoft

Ahh, I don't know why I did not name it `wcDocker.destroy()`, but there is a `wcDocker.clear()` which does exactly this. It will destroy all panels and other bits that make up the interface. I noticed that I forgot to also clean up referenced event handlers that have been applied directly to wcDocker, so I will add that asap.

`wcDocker.clear()` method: http://docker.api.webca

[2016-03-10 01:23] Lochemage commented on #102
@AFamularo-lomoSoft

The only thing that the theme system does is create a link element on your page which points to the CSS file for that theme. It is more for convenience, giving you an easy method of dynamically changing your theme on the fly, without hard coding it into your page.

You are more than welcome to embed the theme you want to use into a larger master sheet and simply including that

[2016-03-10 08:48] lomotelsch commented on #102
perfect, thank you

[2016-03-10 08:48] #102 closed

[2016-03-10 11:03] lomotelsch commented on #103
Perfect Jeff, clear() works for now and is excactly what I was looking for.
Would be nice to have the wcDocker-events removed too by using clear()...

[2016-03-10 13:16] Lochemage commented on #103
@lomotelsch

It should, actually. I've committed that change right after I mentioned it ;)

[2016-03-10 13:41] lomotelsch commented on #103
@Lochemage ah you mean your exposed wcDocker-events - i see.
I´m talking about the browser/jQuery events, which still stay in the memory when using clear():
https://www.youtube.com/watch?v=J0D5h5dIUg4&feature=youtu.be

[2016-03-10 13:49] lomotelsch commented on #103
I do not know if this is very smart, but since you use event-delegation, the simplest way to "decouple" the events would be to bind to **$('body.wcDesktop')** instead of $('body') and removing the class **wcDesktop** from body when using clear().
I mean the most stable solution would be to remove every single event manually...
What do you think?

[2016-03-10 18:31] Lochemage commented on #103
@lomotelsch

Ahh, I understand. `wcDesktop` would not work, that class is only applied if you are running it on a desktop PC, otherwise you get `wcMobile`.

As for the mouse handler events, I have some plans to refactor that somewhat, I'll make sure this also includes unbinding them.

[2016-03-18 10:52] gbaumgart commented on #97
btw, could make progress with the resize problem (dont move dom elements)?

[2016-03-18 11:45] gbaumgart opened #104 "close button in tab ?"
Hi,
whilst i like it as it is, my clients prefer the close button the classic way (in the tab-button). Do you have a rough pointer for me how to do it?
thanks

[2016-03-22 13:36] gbaumgart commented on #104
fixed in my code

[2016-03-22 13:36] #104 closed

[2016-03-22 17:10] lomotelsch opened #105 "Can wcDocker "just" restore the positions of panels?"
Saving/restoring the panels using api-functions saveLayout() and restoreLayout() will destroy all panels first and re-instantiate them afterwards.

The problem with this is, that all panel-content (data) and all changes made to the content (scrolling down a list, checking a checkbox) must be re-initialized and re-set after restoring the panel-layout using restoreLayout().
For the content, which co

[2016-03-22 17:23] gbaumgart commented on #105
i am afraid that requires you to write something similar as already in place. Its generally a good idea to focus on the splitter positions since they work in a 0-1 range so you can maintain somehow responsiveness for your app state across different screen dimensions.

I am actually working on some ['wcDocker extra package'](https://gitlab.com/xamiro/xdocker/blob/master/Panel2.js), adding these thi

[2016-03-23 00:18] Lochemage commented on #104
@gbaumgart

I'm glad to hear that you have implemented this feature, any chance this can be made into a pull request and brought into the main project?  I'm thinking this can be an option supplied when initializing wcDocker. What do you think?

[2016-03-23 00:24] Lochemage commented on #105
@lomotelsch

There are two ways I can think of to solve this problem:

1: Since all of your panels can not be moved or edited, you could probably get away with setting all your panels to persistent (see http://docker.api.webcabin.org/module-wcDocker.html#~registerOptions, the isPersistent option). This will make it so even if the panels are removed, they are technically never removed from memory a

[2016-03-23 00:26] Lochemage commented on #105
@lomotelsch

For the second one, I actually have a tutorial here: http://docker.api.webcabin.org/tutorial-2.0-tips-and-tricks.html#toc4

[2016-03-23 08:05] lomotelsch commented on #105
@Lochemage

nice, I will look into this

[2016-03-23 11:36] gbaumgart commented on #104
yes sure. Let me clean up a little. Unfortunately, I can't make PRs anymore so I'll have to send you just a link to a fork with some pointers where to find the code. Gonna do that over the weekend.
cheers,g

[2016-03-23 17:26] Lochemage commented on #104
@gbaumgart

I appreciate it, thanks!

[2016-03-25 10:55] gbaumgart commented on #104
hi,
here you go:
panel.title and destroy needs to be changed:

https://gitlab.com/xamiro/wcDocker/blob/master/Code/panel.js

then in docker.js under __onMouseDownFrameTitle somewhere as first:

if ($(event.target).hasClass('wcPanelCloseIcon')) {
  return self.__closePanel(event.target.__panel);
}

then some css:

[code]

looks we need some convenience functions to retrieve objects from events. I t

[2016-04-04 10:02] lomotelsch commented on #105
@Lochemage
I looked into the isPersistent option.
This works nicely when you close and recreate a panel manually, since if the isPersistent-option is enabled, you just move the panel into a hidden container - all bound events and data()-properties are kept.
But when you use wcDocker.restore() to restore the previously saved layout, all panel-content gets removed by the jQuery remove()-method, whic

[2016-04-06 06:46] Lochemage commented on #105
@lomotelsch

Hmm, you're right. I'll have to fix this, although I don't know when I'll have a chance to work on it.

[2016-04-13 11:32] gbaumgart opened #106 "preserve DOM when resizing"
I think we had this quite a while ago but I can't find it back. However, here again the problem:

Changing DOM whilst panel/docker resize has tremendous performance impacts, it's so bad that I consider now to drop wcDocker from my code base. I am now desperately looking to hack wcDocker to prevent this from happening at any cost.

Do you know by chance where to start looking for? I already removed

[2016-04-13 11:36] gbaumgart commented on #106
or is isn't there a way a lightweight variant of resize?

[2016-04-13 18:51] Lochemage commented on #106
@gbaumgart

I may know why this is happening, I would look at the `wcFrame.__updateTabs()` method, the first thing it does is empty the tab widget. This method is called any time the view is resized and the panel needs to re-draw the tab controls. It's been a while since I've looked into it, but I am pretty sure if it were refactored so the panel itself is never removed or changed during this even

[2016-04-13 18:52] gbaumgart commented on #106
@Lochemage thanks, yeah, i just need a pointer to go from.

[2016-04-13 18:54] Lochemage commented on #106
@gbaumgart

For sure a major performance hit is the tab rebuild system, I think at the time it was just easier to start from scratch and build the tabs every time.  Worst case, if the tab refactoring proves too difficult, the engine could be changed so the resizing is not so responsive (resizing simply shows a ghost divider moving but not actually changing the window until you release).

[2016-04-17 14:01] gbaumgart commented on #106
if you like, you can check our application [here](http://www.net-commander.com). You can debug rendering with F12. If you open a console or driver (sub dockers) you can actually see what happens to the FPS when you move a panels around, or just add one.

[2016-05-08 13:53] gbaumgart commented on #106
do you have an estimate for 3.0.0 ? I cant really wait much longer. There are also other bugs related to this: when using multiple dockers (another docker in a Panel) and switching between the panels, the splitter positions of the sub docker go bad after resize.

I can't count the days anymore which I spent for getting docker resizing correctly with sub dockers and I am really tired of it. I do ac

[2016-05-08 14:34] WolfieWerewolf commented on #106
@gbaumgart What you are experiencing is not uncommon in the Open Source world.  You start out with an OS project because it speeds up your development; you build on the work that other's have done.  Sometimes you're particular use case goes beyond the spec of the original project.  You have a number of choices.  Fix the bugs / enhance functionality and submit a PR or keep them to yourself, fork th

[2016-05-08 14:44] gbaumgart commented on #106
@WolfieWerewolf : wasn't criticizing, just pointing out that scalability or nesting isn't possible as it is now with wcDocker and you end up with unmaintainable code to fix that issues. I already tried to get some things into wcDocker but the author rejects already things like separating the html from the code or the whole idea of being able of scaling wcDocker for nested dockers.....

Btw, I did

[2016-05-08 14:44] #106 closed

[2016-05-08 14:52] WolfieWerewolf commented on #106
@gbaumgart Fair comment... I can appreciate where you are coming from, it just felt a little strong that's all.  And I'm sorry for sticking my nose in...I just see a lot of "entitlement" in the Open Source community; a lot of developers seem to think that project maintainers owe them something...I depend on a lot of open source and I"m thankful for it.  I haven't started a project of my own yet bu

[2016-05-08 17:03] Lochemage commented on #106
@WolfieWerewolf
I appreciate the feedback. I did feel his comment was a little strong, but it's okay.

@gbaumgart
I know I've shown resistance to certain changes/fixes, but I don't recall expressly rejecting them. Ultimately, it comes down to free time. I've been able to do spot fixes and quick changes, but when it comes to longer work, it's hard to find time. I know this project is my responsibil

[2016-05-08 17:43] gbaumgart commented on #106
Ok, wasn't really meant to be harsh. However, I can actually only make sense out if:

1. we move the most hard-coded markup out of the init functions. This one stopped me actually making PRs. The html must go only into a member variable, something i can replace from outside.

2. Then how about: I complete a few more unit tests (automated), for exactly testing nested dockers, in a way that you have

[2016-05-08 17:48] WolfieWerewolf commented on #106
This is awesome guys!  I'm really glad to see you guys working together.  I'm hopeful that as things progress for me with my implementation of wcDocker I'll be able to contribute as well.  Kind Regards.

[2016-05-08 18:01] gbaumgart commented on #106
well, there is actually a bigger task left to do I could only little grasp on it: 'quick layouts' something similar of what know from Adobe as 'perspectives'. Basically a simple format (for devs/users) to save and restore layouts (the built-in is too low-level and not really practical). [See here](https://cloud.githubusercontent.com/assets/1205100/15095089/510b2b3c-14b8-11e6-8268-ad0d4fa5c8b6.png)

[2016-05-09 22:26] gbaumgart opened #107 "make markup optional"
Hey Jeff,

we had this already but I wanted to propose a more concrete solution:

In order to make markup user-configurable (ie: being able to apply non-wcDocker themes), the most of the html should go into member variable.

I'd like to make a PR which:

1. updates all init functions in order to pull and parse the markup from a member variable (overridden by subclassing)
2. introduces a mini templ

[2016-05-10 12:27] #107 closed

[2016-05-11 09:42] Lochemage commented on #107
@gbaumgart

I would only be careful as a lot of the functionality of wcDocker relies on specific element/class types organized very specifically. It would be very easy for someone to completely break wcDocker by simply not knowing exactly what they are doing.

That being said, it does have a lot of potential for customization. Is it possible to implement this in a way that keeps it from becoming a

[2016-05-11 09:49] Lochemage commented on #106
@gbaumgart

I'm afraid I'm a little confused. wcDocker supports being able to save / restore layouts. Your project can leverage this ability and provide multiple 'presets' or 'perspectives' for the user to switch between, all saved layouts are stored as a json string. I am getting the wrong idea?

[2016-05-11 13:41] gbaumgart commented on #106
never mind

[2016-05-11 13:43] gbaumgart commented on #107
never mind

[2016-05-26 14:52] #50 closed

[2016-05-26 14:52] #82 closed

[2016-05-26 14:54] #88 closed

[2016-06-17 13:26] ArtemAnchugov opened #108 "Using 'Panel Creation Elements' breaks creation of panels via context menu"
After a panel is created by Creation Element, attempting to create panel via drop-down leads to following:

After right-click and selecting 'Add Panel"
- Ghost follows the mouse cursor as you try to navigate the menu, instead of being fixed in the place where the right-click was made.
- Regardless of what type of panel you select in drop-down, a panel of same type that was last created with Creati

[2016-06-22 14:47] AlexPuiu opened #109 "Docker panel resize"
Is there a way that when I resize a panel and the panel doesn't resizes in real time?
I mean dragging the panel's splitter, dropping to a position and after the drop of the splitter the panel will resize; something like shadowing the splitter.

[2016-09-23 09:40] jindalit opened #111 "Docker is in infinite loop"
Hi,

I have an issue, as i add two docker. change first docker in complete place holder and then try to add the first docker into the second docker as a tab then after the application got hanged and not able to restore it. Please suggest what changes i need to add for the same.

[2016-09-23 10:07] Lochemage commented on #111
Hi @jindalit,

I'd be happy to help you as best as I can, but I am having trouble reproducing your problem. Could you provide some more details of what you are trying to do exactly?  Perhaps provide a jsfiddle or sample code that I could run that shows the problem?

[2016-09-23 10:46] jindalit commented on #111
Hi @Lochemage,

Thanks for replying.
I am not able to share the code. The situation is like i have two module docker and the first docker is having the complete window placeholder and the second one is on the top of the first one. then when i try to drag and drop the first docker to the second docker header as a tab then after the it shows me
docker.js:2860 WARNING: wcDocker creating placeholder p

[2016-09-28 06:26] jindalit commented on #109
I am also facing the same issue

Resize desired panel during browser resize

[2016-10-25 06:51] krsurinder opened #112 "Cannot move the stacked Iframe panel into the browser tab."

[2016-10-29 19:19] Lochemage commented on #112
Hi @krsurinder

Are you able to give me some small example code that reproduces this issue?

[2016-11-13 02:07] TimNZ commented on #104
@gbaumgart Looks like this project no longer exists on gitlab, can I find the code somewhere else?

[2016-11-13 02:08] TimNZ commented on #104
@gbaumgart Found your github version.

[2016-11-15 06:16] jindalit opened #113 "mobile device events"
Hi,

I am facing some issues in case of mobile support.
Please suggest me all the device events and css class to support device perfectly for my project.

Thanks in advance :)

[2016-11-28 22:31] TimNZ commented on #106
Is this discussion still valid - I have a few tabs and responsiveness in resizing a window and panels seems fine.  Or did I mis-understand the issue?

[2016-11-29 01:12] gbaumgart commented on #106
@TimNZ unfortunately, yes. i tried a few things but no. jeff seems the only one to fix this for real.

[2016-11-29 04:19] TimNZ commented on #106
You posted a link to http://net-commander.com that now redirects somewhere so I can't play with the example app and see the issues.

You're talking about doing DOM operations doing resize which is a performance consideration regardless of using wcDocker or not.

I've been incorporating code from forks and making my own changes and have plans for more changes, so if you can make it clear what the p

[2016-11-29 08:14] gbaumgart commented on #106
@TimNZ the problem is that the panel's content is entirely detached during resize, making it hard to debug anything. Do a "inspect element" of some panel's content, then resize. then you'll see that the element focused in dev-tools is gone. apart from performance issues, it also causes flickering whilst resizing. that of course happens only if you have heavy content like [this](https://github.com/

[2016-11-29 09:00] TimNZ commented on #106
Got it now.

Frankly I'm not too concerned with resize performance as it is an in-frequent action by users.
Perhaps adding an option to turn off real-time resizing is ok?

I'm also using Electron and cloned iframe.js (wcIFrame) to make a webview (wcWebView) class.
Since moving iframe/webview around DOM causes them to refresh, wcDocker handles that by just changing the absolute position of these sp

[2016-11-29 09:57] gbaumgart commented on #106
well, ok. i am still looking for a way to preserve the dom during resize, despite the why. i personally would never ever detach anything from the dom in this case. in top, resizing a panel also causes heavy reflow operations, on the whole screen, not just the panels of interest. If you grab an older or low-spec computer and profile your app, you will see how awful this can get (on some you will he

[2016-12-12 05:14] TimNZ opened #114 "Embedded wcDocker instance or otherwise constraining panels to one layout"
Hi @Lochemage

I want to create panels that are effectively embedded Docker instances.

This is to allow child panels to be moved around only within that container/parent panel.

What's your recommended approach for this?

At this stage I'm looking at creating a modified version of wcIFrame that wraps around a div instead.
I need to propagate hide/show events from the parent wcDocker down to the c

[2016-12-15 18:37] Lochemage commented on #114
@TimNZ

I'm having trouble understanding exactly how you want to use it and why the built in wcIFrame would not work for you as it is. wcIFrame is made to simply be an iFrame inside of your panel layout. With an iFrame, you should be able to create an entirely new docker instance that is contained in this frame.

If I am misunderstanding, please elaborate your use case.

[2016-12-19 03:47] TimNZ commented on #114
It might do.  I don't have a lot of experience with &lt;iframe&gt; beyond external src and may have dismissed it incorrectly.  Will have a play.

[2016-12-19 03:47] #114 closed

[2016-12-19 23:52] TimNZ commented on #114
Played around a bit and embedded iframe is not workable.

I'm running within Electron so that's a show stopper.
Running in an iframe also creates a world of pain between

[2017-01-19 19:48] a497988 opened #115 "Can I use wcDocker with angular2?"
I am currently using golden layout (https://www.golden-layout.com/faq/), but they do not support angular 2. I was wondering if I could use wcDocker with angular 2?

Also, does wcDocker have a similar 'popout' window like golden layout does? Where you can bring a component into a separate browser window.

Thanks!

[2017-01-27 17:51] jmls commented on #115
@a497988 did you ever figure this out ? I'm looking as well ;)

[2017-03-21 11:33] xblox commented on #115
@a497988
1. popout: not really but you can archive this relative easily yourself.
2. angular2: not directly, you'd have to write the typings for wcDocker first

in general I'd stick to Golden-Layout since it has the typings already, even if their typings ain't that good though.

[2017-03-27 10:08] serkanserttop opened #116 "Provide dynamic options via addPanel"
Any reason why this line https://github.com/WebCabin/wcDocker/blob/cef106512d1c125bd40a6612d7a107912d64100a/Code/docker.js#L326

is not the below?
`panel._panelObject = new panelType.options.onCreate(panel, panelOptions, options);`

Then onCreate function's arguments would be (panel, options, dynamicOptions).
I can call `wcDockerInstance.addPanel('panelType', wcDocker.DOCK.STACKED, parent, {id: 'x

[2017-03-27 10:25] serkanserttop commented on #116
Just to note, in the same scope, options are passed in other contexts:
https://github.com/WebCabin/wcDocker/blob/cef106512d1c125bd40a6612d7a107912d64100a/Code/docker.js#L293
https://github.com/WebCabin/wcDocker/blob/cef106512d1c125bd40a6612d7a107912d64100a/Code/docker.js#L295

[2017-03-27 13:36] serkanserttop commented on #116
Similar discussion in https://github.com/WebCabin/wcDocker/issues/77

[2017-03-30 07:21] serkanserttop commented on #116
@xblox Thanks for the answer.

[2017-03-30 07:21] #116 closed

[2017-04-11 07:56] katakampradeep commented on #115
@a497988  Did you get solution for it?
Earlier i used wcDocker with angularjs for my application.. Now i need migrate it to angular 2. Can i use wcDocker with angular 2?

[2017-05-24 02:54] TimNZ opened #117 "Improved forked version available - bug fixes and performance"
I've made various enhancements in a fork.

https://github.com/TimNZ/wcDocker

There are a few optimisations that reduce the scenarios when panel content is removed and re-added to the DOM.

More importantly I added a new wcAbsolute module which basically achieves the same as wcIFrame but is more general purpose.

Now embed a combination of anything and it won't be removed+added to the DOM triggeri

[2017-08-06 14:10] kryptoscan opened #119 "PopOut Browser"
Is there a feature where a window can pop-out and make a new browser. Can we dock additional windows in the new browser? And it says the layout of the new browser window.

This a an amazing app. Great work and thanks for the contribution.

[2017-09-05 06:44] xblox commented on #117
Amazing, thanks !

[2017-09-22 21:02] clintwinfrey opened #120 "restoring a layout refreshes iframes"
I am using wcDocker (it's amazing) with each panel containing an iframe.  When I restore a layout, the iframes all reload as well.  Is there any way to prevent this from happening?  The iframes are somewhat slow, so reloading them is very disruptive.

Thanks for a great project!!!!

[2017-10-11 14:20] max1287 commented on #120
Do you use `isPersistent: true`?

[2017-10-12 13:36] max1287 opened #121 "Scroll position resets after resize panel"
1. Scroll to bottom of list
![image](https://user-images.githubusercontent.com/25300333/31498590-09ca302a-af6b-11e7-9c65-c28eabd06e20.png)
2. Resize panel
![image](https://user-images.githubusercontent.com/25300333/31498670-447b4c18-af6b-11e7-8e20-de3aba40e978.png)
Why did this happen?

[2018-03-02 21:58] adcockcarl commented on #121
Did you ever find a fix for this?

[2018-03-29 07:39] mzabuawala opened #123 "Using moveable(false) causes Browser window hang"
Hi,
I am frequently facing hangs if I set moveable to false as `myPanel.moveable(false);`
After trying to move Panel ~4-5 times page becomes unusable.

I suspect some memory leak in the wcDocker code.

If I remove the `myPanel.moveable(false);`  the code then it is working fine, no hangs nothing.

[2018-04-02 07:49] mzabuawala commented on #123
Found the code which is causing the issue,

It is an infinite loop when both pane0 & pane1 becomes true.

[code]

[2018-04-02 08:37] Lochemage commented on #123
Preventing a panel from being movable is very tricky. A panel must either be initialized as movable or non-movable from the beginning and never changed because it generates a different arrangement of elements depending. This feature should only ever be used within the `onCreate` method of the panel. I should probably have been more clear about this limitation in the documentation.

How exactly are

[2018-04-02 13:54] mzabuawala commented on #123
Here is the code snippet,

[code]

Full code:
https://github.com/postgres/pgadmin4/blob/master/web/pgadmin/browser/static/js/panel.js

https://github.com/postgres/pgadmin4/blob/master/web/pgadmin/browser/static/js/browser.js +106, +251

[2018-04-02 14:00] mzabuawala commented on #123
We have a feature request to make layout fixed.

[2018-04-03 08:39] Lochemage commented on #123
All panels are contained within a wcFrame, this is in case you split your panel into multiple tabs.

As for disabling movement of all panels, this was not what wcDocker was designed for so there is no built in feature for this. However, if you are willing to make changes in the source code, you can disable movement of any panel by making sure the event system never begins the move process. On line

[2018-04-06 06:54] mzabuawala opened #124 "wcDocker Frame do not load URL when we use jQuery v.3.3.1"
Hello,

I trying to open a Frame with specific url but it failed with jQuery error,
Sample code: `frame.openURL('about:blank');`

Looking at the source we are passing url as function `jQuery.fn.load = function( url, params, callback ) ` which was working properly in earlier version but with newer version of jQuery it is not working as they have removed the first if condition,
[code]

Code causing

[2018-10-26 07:23] am2222 opened #126 "Any light Theme?"
Hi,
is there any theme with light colors?

[2018-12-17 22:13] feltspar opened #127 "How do I prevent a panel from resizing?"
I want my panel to be a fixed size.

[2019-03-04 16:12] #126 closed

[2019-08-27 19:49] matthew-mahony opened #128 "Is it possible to localize the context menu?"
I'm wondering if it is possible to change the text of the context menu (e.g. "Remove Panel", "Collapse Panel", etc...) for other languages.

[2020-07-13 17:40] CESMOtacon opened #129 "Localization"
Does wcDocker support localization? I can't find a way to localize the tooltips for collapsing/closing panels.
Thanks